{% for room in rooms %}
{% load static %}
<div class="roomListRoom">
  <div class="roomListRoom__header__container">
    {% if room.host %}
        <div class="roomListRoom__header">
            <a href="{% url 'schoolweb:user-profile' room.host.id %}" class="roomListRoom__author">
                <div class="avatar avatar--small active">
                    <img src="{% static 'img/avatar.svg' %}" />
                </div>
                <div class="roomListRoom__details">
                    <span title="Zobacz profil">@{{room.host.username}}</span>
                    <div class="roomListRoom__actions">
                        <span>{{room.created|timesince}} temu</span>
                    </div>
                </div>
            </a>
            <p class="roomListRoom__topic">{{room.topic.name}}</p>
        </div>
    {% else %}
        <div class="roomListRoom__author-container">
            <div class="roomListRoom__author">
                <div class="avatar avatar--small active">
                    <img src="{% static 'img/avatar.svg' %}" alt="Zdjęcie posta"/>
                </div>
                <span>Użytkownik usunięty</span>
            </div>
        </div>
    {% endif %}
  </div>
  <div class="roomListRoom__content">
    <a href="{% url 'schoolweb:room' room.id %}" class="lesson-link" title="Zobacz post">{{room.name}}</a>
    <br>
    {% if room.image %}
      <a href="{{ room.image.url }}" class="popup-image" target="_blank">
          <img src="{{ room.image.url }}" alt="Zdjęcie posta" title="Powiększ">
      </a>
    {% endif %}
  </div>

   <div class="comment-counter">
      <img src="{% static 'img/filled.png' %}" alt="Polubienia">
        <div class="comment-info">
          {{ room.likes.all.count }} polubień
        </div>
   </div>
   <div class="comment-counter">
      <img src="{% static 'img/comment.png' %}" alt="Komentarze">
        <div class="comment-info">
          {{ room.message_set.count }} odpowiedzi
        </div>
   </div>

   <div class="comment-counter">
      <img src="{% static 'img/comment.png' %}" alt="Komentarze">
        <div class="comment-info">
          {{room.participants.all.count}} użytkowników dołączyło
        </div>
   </div>

   <div class="container">
      <div class="like-topic-container">
          <a href="{% url 'schoolweb:room' room.id %}" class="envelope-link">
              <i class="fa fa-info-circle" aria-hidden="true"></i> Szczegóły
          </a>
      </div>
      <div class="like-topic-container">
          <a href="{% url 'schoolweb:room' room.id %}#comms" class="envelope-link">
              <i class="fa fa-envelope" aria-hidden="true"></i> Komentarze
          </a>
      </div>
      <div class="like-topic-container">
          <a href="{% url 'schoolweb:room' room.id %}#comms" class="envelope-link">
              <i class="fa fa-info-circle" aria-hidden="true"></i> Zgłoś
          </a>
      </div>
   </div>
</div>
{% endfor %}
