{% load static %}
<header class="header header--loggedIn">
    <div class="container">
        <a href="{% url 'schoolweb:home' %}" class="header__logo">
            <picture>
                <source srcset="{% static 'img/widget/logo.webp' %}" type="image/webp">
                <img src="{% static 'img/widget/logo.png' %}" alt="SchoolWeb logo" title="Wróć do menu głównego" loading="lazy">
            </picture>
            <h1 title="Wróć do menu głównego">SchoolWeb</h1>
        </a>
    </div>
</header>
