{% extends 'base-knowledge-zone.html' %}

{% block navbar %}
  {% include 'knowledge-zone/nav-empty-knowledge-zone.html' %}
{% endblock navbar %}

{% block content %}
<main class="create-room layout">
  <div class="container">
    <div class="layout__box">
      <div class="layout__boxHeader">
        <div class="layout__boxTitle">
          <h3>Resetowanie hasła</h3>
        </div>
      </div>
      <div class="layout__body">
        <p><span style="font-weight:900;">Hasło zostało poprawnie zresetowane</p>
        <p style="text-align: center; margin-top:40px;">Zaloguj się do . . .</p>
        <div class="auth__actions" style="text-align: center;">
          <div class="auth__action">
            <a href="{% url 'schoolweb:lessonsLogin' %}" class="btn btn--link">Strefy Korepetycji</a>
          </div>

          <div class="auth__action">
            <a href="{% url 'schoolweb:login' %}" class="btn btn--link">Strefy Wiedzy</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock content %}
