{% extends 'base-knowledge-zone.html' %}

{% block navbar %}
  {% include 'knowledge-zone/nav-empty-knowledge-zone.html' %}
{% endblock navbar %}

{% block content %}
<main class="create-room layout">
  <div class="container">
    <div class="layout__box">
      <div class="layout__boxHeader">
        <div class="layout__boxTitle">
          <h3>Resetowanie hasła</h3>
        </div>
      </div>
      <div class="layout__body">
        <p><span style="font-weight:900;">Wysłaliśmy Ci e-mailem instrukcję do resetowania hasła</p>
        <br><p>Jeśli istnieje konto z podanym adresem e-mail powinieneś wkrótce otrzymać wiadomość.</p>
        <br><p>Jeśli nie otrzymasz wiadomości e-mail, upewnij się, że wpisałeś/aś adres, na który
        się zarejestrowałeś/aś i sprawdź folder ze spamem.</p>
      </div>
    </div>
  </div>
</main>
{% endblock content %}
