{% extends 'base-knowledge-zone.html' %}

{% block navbar %}
  {% include 'knowledge-zone/nav-empty-knowledge-zone.html' %}
{% endblock navbar %}

{% block content %}
<main class="create-room layout">
  <div class="container">
    <div class="layout__box">
      <div class="layout__boxHeader">
        <div class="layout__boxTitle">
          <h3>Resetowanie hasła</h3>
        </div>
      </div>
      <div class="layout__body">
        <p><span style="font-weight:900">Zapomniałeś hasła?</span><br><br>Wprowadź poniżej swój adres e-mail, a my wyślemy Ci
          na niego wiadomość z informacją co dalej zrobić.
        </p>
        <div class="form__group form__group">
          <form method="post" class="password-reset-form">
            {% csrf_token %}
            {{ form }}
            <div class="form__action">
              <a class="btn btn--main" href="{{request.META.HTTP_REFERER}}">Anuluj</a>
              <button class="btn btn--main" type="submit">Zatwierdź</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>

<style>
.layout__body p{
  font-size: 15px;
}
.password-reset-form {
  max-width: 400px;
  margin: 0 auto;
  margin-top:35px;
}

.password-reset-form input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 7px;
  box-sizing: border-box;
}
</style>
{% endblock content %}
