{% extends 'base-knowledge-zone.html' %}

{% block navbar %}
  {% include 'knowledge-zone/nav-knowledge-zone.html' %}
{% endblock navbar %}

{% block content %}
{% load static %}
<main class="profile-page layout layout--3">
  <div class="container">
    {% include 'knowledge-zone/topics-knowledge-zone.html' %}
    <div class="roomList">
      <div class="profile">
        <div class="profile__avatar">
          <div class="avatar avatar--large active">
            <img src="{{user.avatar.url}}" />
          </div>
        </div>
        <div class="profile__info">
          <p>{{user.username}}</p>
          {% if request.user == user %}
            <a href="{% url 'schoolweb:update-user' %}" class="btn btn--main btn--pill">Ustawienia</a>
          {% endif %}
        </div>
        <div class="profile__about lesson-link">
          <h3>O mnie</h3>
          <p>
           {{user.bio}}
          </p>
        </div>
      </div>

      <div class="roomList__header">
        <div>
          <h2>Posty utworzone przez <i>{{user.username}}</i></a>
          </h2>
        </div>
      </div>
      {% include 'knowledge-zone/feed-knowledge-zone.html' %}
    </div>
    {% include 'knowledge-zone/activity-knowledge-zone.html' %}
  </div>
</main>
{% endblock content %}
