{% extends 'base-knowledge-zone.html' %}
{% load static %}
{% block content %}
<main class="profile-page layout layout--2">
  <div class="container">
    <div class="room">
      <div class="room__top" >
        <div class="room__topLeft">
          <a href="{% url 'schoolweb:knowledge_zone' %}">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
              <title>Cofnij</title>
              <path
                d="M13.723 2.286l-13.723 13.714 13.719 13.714
                1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z">
              </path>
            </svg>
          </a>
            {% if room.host == request.user %}
              <a href="{% url 'schoolweb:update-room' room.id %}">
                <svg enable-background="new 0 0 24 24" height="32" viewBox="0 0 24 24" width="32"
                  xmlns="http://www.w3.org/2000/svg" style="margin-left:10px;">
                  <title>Edytuj</title>
                  <g>
                    <path d="m23.5 22h-15c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h15c.276 0 .5.224.5.5s-.224.5-.5.5z" />
                  </g>
                  <g>
                    <g>
                      <path d="m2.5 22c-.131 0-.259-.052-.354-.146-.123-.123-.173-.3-.133-.468l1.09-4.625c.021-.09.067-.173.133-.239l14.143-14.143c.565-.566
                      1.554-.566 2.121 0l2.121 2.121c.283.283.439.66.439 1.061s-.156.778-.439 1.061l-14.142
                      14.141c-.065.066-.148.112-.239.133l-4.625 1.09c-.038.01-.077.014-.115.014zm1.544-4.873-.872 3.7
                      3.7-.872 14.042-14.041c.095-.095.146-.22.146-.354 0-.133-.052-.259-.146-.354l-2.121-2.121c-.19-.189-.518-.189-.707
                      0zm3.081 3.283h.01z" />
                    </g>
                    <g>
                      <path d="m17.889 10.146c-.128 0-.256-.049-.354-.146l-3.535-3.536c-.195-.195-.195-.512 0-.707s.512-.195.707
                      0l3.536 3.536c.195.195.195.512 0 .707-.098.098-.226.146-.354.146z" />
                    </g>
                  </g>
                </svg>
              </a>
              <a href="{% url 'schoolweb:delete-room' room.id %}">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" style="margin-left:10px;">
                  <title>Usuń</title>
                  <path d="M27.314 6.019l-1.333-1.333-9.98 9.981-9.981-9.981-1.333 1.333 9.981 9.981-9.981 9.98 1.333
                  1.333 9.981-9.98 9.98 9.98 1.333-1.333-9.98-9.98 9.98-9.981z">
                  </path>
                </svg>
              </a>
            {% endif %}
          <h3>{{room.name}}</h3>
        </div>
      </div>
      <div class="room__box scroll">
        <div class="room__header scroll">
          <div class="room__info">
            <h3>{{room.name}}</h3>
            <span>{{room.created|timesince}} temu</span>
          </div>
          <div class="room__hosted">
            <p>Utworzony przez</p>
            {% if room.host %}
              <a href="{% url 'schoolweb:user-profile' room.host.id %}" class="room__author">
                <div class="avatar avatar--small">
                  <img src="{{room.host.avatar.url}}" />
                </div>
                <span title="Zobacz profil">@{{room.host.username}}</span>
              </a>
            {% else %}
              <div class="room__author">
                <div class="avatar avatar--small">
                  <img src="{% static 'img/avatar.svg' %}" />
                </div>
                <span>Użytkownik usunięty</span>
              </div>
            {% endif %}
          </div>
          <div class="room__details scroll">
            {{room.description}}
          </div>
          <br>
          {% if room.image %}
            <a href="{{ room.image.url }}" class="popup-image" target="_blank" title="Powiększ">
              <img src="{{ room.image.url }}" alt="Zdjęcie pokoju" style="max-width: 700px; max-height: 500px;">
            </a>
          {% endif %}
          <br>
          <div class="likes-room">
            <div class="likes-info" style="border-radius:7px; padding:5px 10px; cursor:pointer;" title="Polubienia" onclick="showRoomLikes({{ room.id }})">
                <img src="{% static 'img/filled.png' %}">
                <span class="likes-room-count" data-room-id="{{ room.id }}">{{ room.likes.count }}</span>
            </div>
            <div class="modal-container" id="roomLikesModal">
                <div class="modal-content">
                    <span class="close" onclick="closeModal()">&times;</span>
                    <p id="likedRoomUsersContent">Liked by: </p>
                </div>
            </div>

            <span class="room__topics">{{ room.topic }}</span>
          </div>
        </div>
        <hr>
        {% if request.user.is_authenticated %}
          <div class="room-info">
              <div class="room-info-detail" style="color: white;">
                <button class="like-room-button" data-room-id="{{ room.id }}" {% if request.user in room.likes.all %}data-liked="true"{% endif %}>
                    {% if request.user in room.likes.all %}
                        <span style="color:#03ff13;">
                            <i class="fa fa-thumbs-up"></i> Lubię to!
                        </span>
                    {% else %}
                        <i class="fa fa-thumbs-up"></i> Lubię to!
                    {% endif %}
                </button>
              </div>
              <div class="room-info-detail" style="color: white;">
                  <a href="#left-side" class="room-info-detail-button">
                      <i class="fa fa-envelope" aria-hidden="true"></i> Komentarz
                  </a>
              </div>
          </div>
        {% endif %}

        <div id="comms" class="room__conversation">
          <div class="threads scroll">
            {% if room_messages %}
              {% for message in room_messages %}
              <div class="thread">
                <div class="thread__top">
                  <div class="thread__author">
                    {% if request.user == message.user %}
                    <a href="{% url 'delete-message' message.id %}">
                      <div class="thread__delete">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                          <title>Usuń</title>
                          <path d="M27.314 6.019l-1.333-1.333-9.98 9.981-9.981-9.981-1.333 1.333 9.981 9.981-9.981
                          9.98 1.333 1.333 9.981-9.98 9.98 9.98 1.333-1.333-9.98-9.98 9.98-9.981z">
                          </path>
                        </svg>
                      </div>
                    </a>
                    {% endif %}
                    {% if message.user %}
                      <a href="{% url 'schoolweb:user-profile' message.user.id %}" class="thread__authorInfo">
                        <div class="avatar avatar--small">
                          <img src="{{message.user.avatar.url}}" />
                        </div>
                        <span title="Zobacz profil">@{{message.user.username}}</span>
                      </a>
                    {% else %}
                      <div class="thread__authorInfo">
                        <div class="avatar avatar--small">
                          <img src="{% static 'img/avatar.svg' %}" />
                        </div>
                        <span>Użytkownik usunięty</span>
                      </div>
                    {% endif %}
                    <span class="thread__date">{{message.created|timesince}} temu</span>
                  </div>
                  <div class="likes-container">
                      {% if request.user.is_authenticated %}
                      <button class="like-button" data-message-id="{{ message.id }}" {% if request.user in message.likes.all %}data-liked="true"{% endif %}>
                          {% if request.user in message.likes.all %}
                              <span style="color:#03ff13;">
                                  <i class="fa fa-thumbs-up"></i> Lubię to!
                              </span>
                          {% else %}
                              <i class="fa fa-thumbs-up"></i> Lubię to!
                          {% endif %}
                      </button>
                      {% endif %}
                      <span class="likes-count" data-message-id="{{ message.id }}" title="Polubienia">{{ message.likes.count }}</span>
                  </div>
                    <div class="modal-container">
                        <div class="modal-content">
                            <span class="close" onclick="closeModal()">&times;</span>
                            <p id="likedUsersContent">Liked by: </p>
                        </div>
                    </div>
                </div>
                <div class="thread__details">
                  {{message.body}}
                  <br>
                  {% if message.image %}
                    <a href="{{ message.image.url }}" class="popup-image" target="_blank" title="Powiększ">
                      <img src="{{ message.image.url }}" alt="Message Image"
                        style="max-width: 500px; max-height: 500px;" />
                    </a>
                  {% endif %}
                  {% if message.file %}
                      <div class="file-name-wrapper">
                        <a href="{{ message.file.url }}" target="_blank" title="Otwórz">{{ message.file.name }}</a>
                      </div>
                  {% endif %}
                </div>

                <div class="likes-container-mobile">
                    {% if request.user.is_authenticated %}
                        <button class="like-button" data-message-id="{{ message.id }}" {% if request.user in message.likes.all %}data-liked="true"{% endif %}>
                            {% if request.user in message.likes.all %}
                                <span style="color:#03ff13;">
                                    <i class="fa fa-thumbs-up"></i> Lubię to!
                                </span>
                            {% else %}
                                <i class="fa fa-thumbs-up"></i> Lubię to!
                            {% endif %}
                        </button>
                    {% endif %}
                    <span class="likes-count" data-message-id="{{ message.id }}" onclick="showLikedUsers('{{ message.id }}')">
                        {{ message.likes.count }}
                    </span>
                </div>

              </div>
              {% endfor %}
            {% else %}
              <div class="thread">
                  <div class="thread__details">
                    <i>Brak komentarzy do tego posta.</i>
                  </div>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
      {% if request.user.is_authenticated %}
        <div class="room__message">
            <form action="" method="POST" onsubmit="return validateForm()" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="input-container">
                    <div id="left-side" class="left-side scroll-target">
                        <input name="body" id="message-input" placeholder="Napisz wiadomość . . ." />
                    </div>
                    <div class="right-side">
                        <label for="image" class="file-upload-button">
                            <i class="fa fa-camera upload-icon" title="Dodaj zdjęcie"></i>
                        </label>
                        <input type="file" id="image" name="image" accept="image/*" multiple style="display: none;" onchange="displaySelectedFileName()" />

                        <label for="file" class="file-upload-button">
                            <i class="fa fa-file upload-icon" title="Dodaj plik"></i>
                        </label>
                        <input type="file" id="file" name="file" accept=".pdf, .docx, .xlsx" multiple style="display: none;" onchange="displaySelectedFileName()" />

                        <span id="selected-file-name"></span>
                        <button class="transparent-button" title="Wyślij"><i class="fa">&#xf1d9;</i></button>
                    </div>
                </div>
            </form>
        </div>
        <script>
          function displaySelectedFileName() {
              const fileInput = document.getElementById('image');
              const fileInput2 = document.getElementById('file');
              const selectedFileName = document.getElementById('selected-file-name');

              if (fileInput.files.length > 0 || fileInput2.files.length > 0) {
                  const fullFileName = fileInput.files.length > 0 ? fileInput.files[0].name : fileInput2.files[0].name;
                  const fileExtension = fullFileName.split('.').pop();

                  const maxLength = 5;
                  let displayedFileName = fullFileName.length > maxLength ? fullFileName.slice(0, maxLength) + '...' : fullFileName;

                  selectedFileName.textContent = displayedFileName + '.' + fileExtension;
              } else {
                  selectedFileName.textContent = '';
              }
          }
        </script>
        {% endif %}
    </div>

    <div class="participants">
      <h3 class="participants__top">Członkowie <span>({{participants.count}} dołączyło)</span></h3>
      <div class="participants__list scroll">
        {% for user in participants %}
        <a href="{% url 'schoolweb:user-profile' user.id %}" class="participant">
          <div class="avatar avatar--medium">
            <img src="{{user.avatar.url}}" />
          </div>
          <p>
            {{user.username}}
            <span title="Zobacz profil">@{{user.username}}</span>
          </p>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
</main>

<script>
document.addEventListener('DOMContentLoaded', function () {
    const likeRoomButtons = document.querySelectorAll('.like-room-button');

    likeRoomButtons.forEach(button => {
        button.addEventListener('click', async function () {
            const roomId = this.dataset.roomId;
            const isLiked = this.dataset.liked === 'true';

            try {
                const response = await fetch(`/toggle-like-room/${roomId}/`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}',
                    },
                    credentials: 'same-origin',
                });

                if (response.ok) {
                    const data = await response.json();
                    const likesCountElement = document.querySelector(`.likes-room-count[data-room-id="${roomId}"]`);

                    if (isLiked) {
                        this.dataset.liked = 'false';
                        this.innerHTML = '<i class="fa fa-thumbs-up"></i> Lubię to!';
                        this.style.color = '';
                        likesCountElement.textContent = parseInt(likesCountElement.textContent) - 1;
                    } else {
                        this.dataset.liked = 'true';
                        this.innerHTML = '<i class="fa fa-thumbs-up" style="color:#03ff13;"></i> Lubię to!';
                        this.style.color = '#03ff13';
                        likesCountElement.textContent = parseInt(likesCountElement.textContent) + 1;
                    }

                } else {
                    console.error('Failed to toggle like for room');
                }
            } catch (error) {
                console.error('An error occurred:', error);
            }
        });
    });
});
</script>


<script>
    function showRoomLikes(roomId) {
        $.ajax({
            type: 'GET',
            url: '/get_room_likes/' + roomId + '/',
            success: function(response) {
                var likedUsers = response.liked_users || [];

                var modalContent = $('#roomLikesModal .modal-content');
                modalContent.html('<span class="close" onclick="closeModal()">&times;</span>');
                modalContent.append('<p>Polubienia:</p>');

                if (likedUsers.length > 0) {
                    likedUsers.forEach(function(user) {
                        var userId = user.id > 0 ? user.id : 'unknown';

                        modalContent.append('<div class="liked-user">' +
                            '<div class="avatar avatar--small">' +
                            '<img src="' + (user.avatar || '') + '" />' +
                            '</div>' +
                            '<span><a href="/profile/' + userId + '/">' + (user.username || 'Unknown') + '</a></span>' +
                            '</div>');
                    });
                } else {
                    modalContent.append('<p>Brak polubień dla tego postu.</p>');
                }

                $('#roomLikesModal').show();
            },
            error: function(error) {
                console.log(error);
                window.location.href = '/404/';
            }
        });
    }
</script>

<script>
    $(document).ready(function() {
        $('.likes-count').on('click', function() {
            var message_id = $(this).data('message-id');

            $.ajax({
                type: 'GET',
                url: '/get_likes/' + message_id + '/',
                success: function(response) {
                    var likedUsers = response.liked_users || [];

                    var modalContent = $('.modal-content');
                    modalContent.html('<span class="close" onclick="closeModal()">&times;</span>');
                    modalContent.append('<p>Polubienia:</p>');

                    if (likedUsers.length > 0) {
                        likedUsers.forEach(function(user) {
                            // Use a default ID (e.g., 0) if user.id is not a valid number
                            var userId = user.id > 0 ? user.id : 'unknown';

                            modalContent.append('<div class="liked-user">' +
                                '<div class="avatar avatar--small">' +
                                '<img src="' + (user.avatar || '') + '" />' +
                                '</div>' +
                                '<span><a href="/profile/' + userId + '/">' + (user.username || 'Unknown') + '</a></span>' +
                                '</div>');
                        });
                    } else {
                        modalContent.append('<p>Brak polubień danego komentarza.</p>');
                    }

                    $('.modal-container').show();
                },
                error: function(error) {
                    console.log(error);
                    window.location.href = '/404/';
                }
            });
        });
    });

    function closeModal() {
        $('.modal-container').hide();
    }
</script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const likeButtons = document.querySelectorAll('.like-button');

    likeButtons.forEach(button => {
      button.addEventListener('click', async function () {
        const messageId = this.dataset.messageId;
        const isLiked = this.dataset.liked === 'true';

        try {
          const response = await fetch(`/toggle-like/${messageId}/`, {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
              'X-CSRFToken': '{{ csrf_token }}',
            },
            credentials: 'same-origin',
          });

          if (response.ok) {
            const data = await response.json();
            const likesCountElement = this.nextElementSibling;

             if (isLiked) {
              this.dataset.liked = 'false';
              this.innerHTML = '<i class="fa fa-thumbs-up"></i> Lubię to!';
              this.style.color = '';
              likesCountElement.textContent = parseInt(likesCountElement.textContent) - 1;
            } else {
              this.dataset.liked = 'true';
              this.innerHTML = '<i class="fa fa-thumbs-up" style="color:#03ff13;"></i> Lubię to!';
              this.style.color = '#03ff13';
              likesCountElement.textContent = parseInt(likesCountElement.textContent) + 1;
            }
          } else {
            console.error('Failed to toggle like');
          }
        } catch (error) {
          console.error('An error occurred:', error);
        }
      });
    });
  });
</script>

<style>
.likes-container {
    display: flex;
    align-items: center;
}

.like-button {
    font-size: 15px;
    cursor: pointer;
    background-color: transparent;
    color: #ffffff;
    border:none;
    margin-right:15px;
}

.like-button:hover {
    background-color: transparent;
    opacity: 0.6;
    color: #03ff13;
}

.likes-count {
    font-size: 15px;
    border: 1px solid #ffffff;
    border-radius: 7px;
    width: 40px;
    display: inline-block;
    white-space: nowrap;
    text-align:center;
    cursor: pointer;
}

.like-room-button {
    font-size: 15px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: #ffffff;
    padding:12px;
}

.like-room-button:hover {
    opacity: 0.6;
    color: #03ff13;
}

.modal-container {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.35);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 75%;
    color: #000000;
    overflow-y: auto;
    border: 7px solid #2d2d39;
    border-radius:11px;
    font-size:16px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.liked-user {
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
}

.modal-content a{
    text-decoration: none;
    color: #71c6dd;
    transition: color 0.3s ease;
    font-weight:900;
    margin-left:10px;
}

.modal-content a:hover {
    text-decoration: underline;
}

.likes-container-mobile{
    display:none;
}

@media only screen and (max-width: 768px) {
    .likes-container{
        display:none;
    }
    .likes-container-mobile{
        display: flex;
        margin-top:10px;
    }
}

.file-name-wrapper {
    width: 100%;
    overflow: hidden;
}
</style>
<script src="{% static 'js/script.js' %}"></script>
{% endblock content %}
