{% load static %}
<div class="topics scroll">
    <div class="topics__header">
        <h2>Kategorie tematów</h2>
    </div>
    <ul class="topics__list">
        <li>
            <a href="{% url 'schoolweb:knowledge_zone' %}" class="topic-link {% if not request.GET.q %}active{% endif %}">
                <div style="align-items: center;">
                    <img src="{% static 'img/icons/19.svg' %}"/>
                    Wszystkie
                </div>
                <span class="topics__list__count">{{topics.count}}</span>
            </a>
        </li>
        {% for topic in topics %}
        <li>
            <a href="{% url 'schoolweb:knowledge_zone' %}?q={{topic.name}}" class="topic-link {% if request.GET.q == topic.name %}active{% endif %}">
                <div style="align-items: center;">
                    <img src="{{ topic.svg_icon.url }}" alt="{{ topic.name }} icon" />
                    {{topic.name}}
                </div>
                <span class="topics__list__count">{{topic.room_set.all.count}}</span>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
