{% extends 'baseLessons.html' %}
{% load static %}
{% block content %}
{% include 'navbarLoader.html' %}
<br>
<div class="create-account scroll" style="height:750px; text-align:left; font-size:16px;">

        <div class="create-account_logo">
            <h2 style="color:red;">BRAK DOSTĘPNYCH LEKCJI DO WYKORZYSTANIA NA KONCIE</h2>
        </div>
         <p>
             <img src="{% static 'img/logo.png' %}"/>
             Chcielibyśmy Cię poinformować, że na tym etapie nie masz dostępu do dostępnych lekcji na platformie
             SchoolWeb. Warto zaznaczyć, że Twoje aktualne zasoby lekcji zostały wykorzystane. <br><br>Jeśli jesteś
             zainteresowany kontynuacją korzystania ze Strefy Korepetycji, zachęcamy Cię do zakupu dodatkowych lekcji.
             To nie tylko pozwoli Ci na dalsze wykorzystanie zasobów platformy, ale także otworzy nowe możliwości
             nauki i rozwoju. <br><br>Jeżeli jesteś gotów podjąć decyzję o zakupie lekcji, zachęcamy do skontaktowania
             się z nami, aby omówić dostępne opcje. Dziękujemy za zrozumienie i czekamy na Twoje dalsze zaangażowanie
             w naszej platformie edukacyjnej.
             <br><br>
             <table border="1" style="border-collapse: collapse; padding: 10px; border-radius:7px;">
                <tr>
                    <th style="padding: 10px;">Metoda Płatności</th>
                    <th style="padding: 10px;">Numer Telefonu/Konto Bankowe</th>
                </tr>
                <tr>
                    <td style="padding: 10px;">Blik</td>
                    <td style="padding: 10px;">572930585</td>
                </tr>
                <tr>
                    <td style="padding: 10px;">Przelew</td>
                    <td style="padding: 10px;">1240 1111 45667 3345 2222 0033</td>
                </tr>
            </table>
             <br><br>
             <div style="color:red;">
                 WAŻNE, ABY W TYTULE PRZELEWU ZNAJDOWAŁO SIĘ <b>IMIĘ I NAZWISKO</b> UCZNIA, <b>LICZBA LEKCJI</b>
                 (W MIESIĄCU) ORAZ <b>RODZAJ LEKCJI</b>, ZA KTÓRE DOKONANA JEST ZAPŁATA*.
                 <br><br> np. Michał Nowak, 8 lekcji, Matematyka podstawowa (zajęcia indywidualne)
                 <br><br> <i>*Sprawdź obowiązujący cennik przed dokonaniem zapłaty</i>
             </div>
        </p>
</div>

<style>
.create-account {
    margin-top:120px;
}

.create-account p {
    display: flex;
    align-items: center;
    text-align:justify;
    margin:35px;
}
.create-account img {
  height: 27rem;
  width: 27rem;
  margin-right:10px;
}

@media (max-width: 1250px) {
  .create-account img{
    display:none;
  }
  .create-account p {
    margin-top:15px;
  }
  .create-account {
    margin-top:200px;
  }
}

@media (max-width: 676px) {
  .create-account {
    margin-top:100px;
    border-radius:7px;
  }

  .create-account p {
    margin-top:15px;
  }
}
</style>
{% endblock content %}
