<!DOCTYPE HTML>
{% load static %}
<html lang="pl">
<head>
	<meta charset = "utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="SchoolWeb to wyjątkowa platforma edukacyjna, która zapewnia nie tylko
		konkurencyjne cenowo lekcje, lecz także szereg innych narzędzi.">
    <meta name="keywords" content="korepetytor, uczniowie, edukacja, korepetycje, korki, nauka, schoolweb, lekcje,
		matematyka, fizyka, polski, angielski, chemia, lekcje dodatkowe">
	<title>SchoolWeb | Twórz z nami najlepszą platformę edukacyjną</title>
	<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
	<link href="{% static "css/widget.css" %}" rel="stylesheet">
	<link rel="icon" type="image/x-icon" href="{% static 'img/logo.png' %}">
	<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>

<body>
	<nav>
	  <div class="nav-container">
		<div class="bordered-image">
			<a href="">
				<img src="{% static 'img/logo.png' %}" width="64" height="64" title="Wróć do menu głównego" alt="Logo SchoolWeb">
			</a>
		</div>
		<div class="container">
		  <h2 class="title">
			  <span class="title-word title-word-1">School</span>
			  <span class="title-word title-word-2">Web</span>
		  </h2>
		</div>
		<div class="hamburger-menu">
		  <div class="bar"></div>
		  <div class="bar"></div>
		  <div class="bar"></div>
		</div>
		<ul class="nav-links">
		  <li><a href="#about" class="nav-option">O nas</a></li>
		  <li><a href="#start-info" class="nav-option">Jak zacząć?</a></li>
		  <li><a href="#pricing" class="nav-option">Ceny</a></li>
		  <li><a href="#testimonial" class="nav-option">Opinie</a></li>
		  <li><a href="{% url 'become-tutor' %}" class="nav-option" style="color:#bb00ff;">Zostań korepetytorem</a></li>
		  <li><a href="#contact" class="nav-option">Kontakt</a></li>
		  <li><a href="{% url 'lessons-home' %}" class="hvr-bounce-in move-buttons" title = "Korepetycje">STREFA KOREPETYCJI</a></li>
		  <li><a href="{% url 'dashboard' %}" class="hvr-bounce-in  move-buttons" title = "Forum">STREFA WIEDZY</a></li>
		</ul>
	  </div>
	</nav>

	<section class="hero">
			<h1 class="hero-heading">Twórz z nami
			<span>najlepszą platformę edukacyjną</span>
		</h1>

		<div class="container">
			<p class="hero-subtitle">
				<span>✔</span> Indywidualne oraz grupowe zajęcia od 35 zł.
				<br><span>✔</span> Sprawdzeni oraz kompetentni korepetytorzy.
				<br><span>✔</span> Darmowe materiały edukacyjne.
				<br><span>✔</span> Szybki kontakt z administracją platformy.
				<br><span>✔</span> Kontakt z korepetytorami po godzinach.
				<br><span>✔</span> Nieograniczony dostęp do forum edukacyjnego.
				<br>
				<a href="{% url 'newStudent' %}" class="hvr-buzz-out center-link" style="background: #bb00ff;">Umów pierwsze zajęcia</a>
			</p>
			<div class="hero-image">
				<img src="{% static 'img/students.png' %}" width="512" height="512" alt="Twórz z nami najlepszą platformę edukacyjną">
			</div>
		</div>
	</section>

	<div id = "about" class="heroes">

		<section class="hero-zero">
		  <div class="container-zero">
			<div class="hero-image-zero">
			  <img src="{% static 'img/logo.png' %}" width="275" height="275" alt="O platformie SchoolWeb">
			</div>
			<div class="hero-label-zero">
			  <h1 class="hero-heading-zero">O platformie<span> Schoolweb</span></h1>
			  <p class="hero-text-zero"> SchoolWeb to wyjątkowa platforma edukacyjna,
				  która zapewnia nie tylko <span>konkurencyjne cenowo lekcje</span>,
				  lecz także szereg innych narzędzi. Nasza misja polega na dostarczaniu najwyższej jakości nauczania,
				  dlatego każdy nasz korepetytor jest starannie przetestowany i posiada bogatą wiedzę oraz umiejętności.
				  Jednak SchoolWeb to nie tylko lekcje. Nasza platforma oferuje również rozbudowane narzędzia, które
				  pomagają uczniom w ich nauce. Posiadamy <span>dynamiczne forum "Strefa Wiedzy"</span>, gdzie uczniowie mogą zadawać
				  pytania i uzyskiwać odpowiedzi od innych użytkowników. To miejsce, w którym wzajemnie pomagamy sobie,
				  dzieląc się wiedzą i doświadczeniem. Jesteśmy świadomi, że nauka nie kończy się o ustalonych
				  godzinach zajęć. Dlatego oferujemy <span>wsparcie uczniom poza zajęciami</span>, aby zapewnić
				  kompleksową opiekę edukacyjną. Dla nas liczy się sukces ucznia na każdym etapie nauki.
				  <span>Wybierając SchoolWeb, masz pewność, że otrzymujesz najlepsze lekcje, doświadczonych
				  korepetytorów i niezastąpione wsparcie edukacyjne</span>. Nasza platforma jest stworzona z myślą o
				  Twoim sukcesie i dostarcza wszystko, czego potrzebujesz, aby osiągnąć swoje cele edukacyjne.
			</div>
		  </div>
		</section>

		<section class="hero-first">
		  <div class="container-first">
			<div class="hero-label-first">
			  <h1 class="hero-heading-first">Nasi<span> korepetytorzy</span></h1>
			  <p class="hero-text-first">Korepetytorzy SchoolWeb posiadają bogate doświadczenie w nauczaniu i są
				  zaangażowani w sukces edukacyjny naszych uczniów. Dzięki indywidualnemu podejściu do każdego ucznia,
				  nasi korepetytorzy potrafią <span>dostosować program nauczania do indywidualnych potrzeb i stylu nauki
				  </span>. Są w stanie wyjaśnić trudne koncepcje w sposób klarowny i zrozumiały, co przyczynia się do
				  osiągania znaczących postępów. Wszyscy nasi korepetytorzy są starannie wybierani i przeszli przez
				  <span>rozbudowany proces selekcji</span>, aby zapewnić wysoką jakość nauki.</p>
				  <a href="{% url 'newTeacher' %}" class="hvr-buzz-out"  style="background: #bb00ff;">Zostań korepetytorem</a>
			</div>
			<div class="hero-image-first">
			  <img src="{% static 'img/teacher.png' %}" width="275" height="275" alt="Nasi korepetytorzy">
			</div>
		  </div>
		</section>

		<section class="hero-second">
		  <div class="container-second">
			<div class="hero-image-second">
			  <img src="{% static 'img/people.png' %}" width="275" height="275" alt="Zajęcia dla każdego">
			</div>
			<div class="hero-label-second">
			  <h1 class="hero-heading-second">Zajęcia<span> dla każdego</span></h1>
			  <p class="hero-text-second"> Niezależnie od poziomu zaawansowania, wieku czy indywidualnych potrzeb, nasza
				  platforma zapewnia różnorodne zajęcia, które są dostosowane do wymagań każdego ucznia. Wierzymy, że
				  każdy uczeń ma unikalne umiejętności i styl nauki. Dlatego nasza platforma oferuje <span>zajęcia
				  rozwijające oraz korygujące</span> dostarczając przy tym różnorodne materiały, ćwiczenia i metody
				  nauczania, które pozwalają uczniom rozwijać się w sposób dostosowany do ich indywidualnych
				  preferencji i potrzeb.</p>
			</div>
		  </div>
		</section>
		<section class="hero-third">
		  <div class="container-third">
			<div class="hero-label-third">
			  <h1 class="hero-heading-third">Początki bywają . . .<span> łatwe</span>!</h1>
			  <p class="hero-text-third">To właśnie na samym początku zaczynamy odkrywać nową dziedzinę, stawiamy
				  pierwsze kroki i poznajemy jej tajniki. Choć może się wydawać trudne na pierwszy rzut oka, to właśnie
				  w tych chwilach kryje się ogromna siła i potencjał do nauki. Nie bój się popełniać błędów, ponieważ
				  to właśnie przez nie uczymy się najlepiej. Każde trudności to okazja do nauki, do poszerzania swoich
				  horyzontów i przekraczania własnych ograniczeń. Pamiętaj, że na naszej platformie edukacyjnej masz do
				  dyspozycji doświadczonych korepetytorów, którzy będą Cię wspierać na każdym etapie Twojej edukacji.
				  Bądź ciekawy, podejmuj wyzwania i pozwól sobie na popełnianie błędów. Początki bywają łatwe, ale to
				  właśnie od Ciebie zależy, jak daleko zajdziesz w swojej edukacji. <span>Pamiętaj, że masz ogromny
				  potencjał i jesteśmy tutaj, aby Ci pomóc go odkryć i rozwijać.</span></p>
			</div>
			<div class="hero-image-third">
			  <img src="{% static 'img/high-five.png' %}" width="275" height="275" alt="Początki bywają łatwe">
			</div>
		  </div>
		</section>
		<section id="start-info" class="hero-fourth">
		  <div class="container-fourth">
			<div class="hero-label-fourth">
			  <h1 class="hero-heading-fourth">Jak<span> zacząć</span> . . . ?</h1>
			  <ol class="hero-list-fourth">
				<li>Uzupełnij formularz oraz utwórz konto w "Strefie Korepetycji".</li>
				<li>Jak najszybciej to możliwe otrzymasz kontakt od administracji platformy, aby ustalić szczegóły.</li>
				<li>Dokonaj zakupu pakietu zajęć, aby móc w pełni korzystać z możliwości platformy.</li>
				<li>Umawiaj się na zajęcia z indywidualnie przydzielonym korepetytorem.</li>
				<li>Korzystaj bez ograniczeń ze wszystkich narzędzi na platformie SchoolWeb.</li>
			  </ol>
			</div>
		  </div>
		  <div class="argument"><span>Założenie konta</span> na SchoolWeb jest wygodne, proste i zajmuje tylko
		  	<span>kilka minut</span>. Przekonany? Nie czekaj i <span>załóż konto już teraz!</span>
		  </div>
		  <a href="{% url 'newStudent' %}" class="hvr-buzz-out" style="background: #bb00ff;">Umów pierwsze zajęcia</a>
		</section>
	</div>



	<div id = "pricing" class = "pricing">
		<br>
		<div class="pricing-title">
			<h1><span>Cennik</span> zajęć</h1>
		</div>
		<div class="pricing-text">
			Rozwijanie swojej wiedzy i umiejętności to <span>inwestycja w przyszłość</span>. Nasz cennik został
			stworzony tak, aby zapewnić Ci jak najlepsze wartości edukacyjne i elastyczność w wyborze opcji, które
			najlepiej odpowiadają Twoim potrzebom. Na SchoolWeb możesz dostosować częstotliwość zajęć oraz ich terminy
			do własnych potrzeb. Dzięki <span>konkurencyjnym cenom</span> pojedynczych zajęć oraz pakietów, wysoce
			wykwalfikowanej kadrze korepetytorów oraz wielu rozmiatym funkcjom dostępnych na platformie jesteśmy w
			stanie zaoferować naszym użytkownikom współpracę na najwyższym poziomie.
			<br><br>
			<span><i>Jeśli uważasz, że żadna z opcji nie jest dla Ciebie odpowiednia skontaktuj się z nami w celu ustalenia
				indywidualnej formy edukacji.</i></span>
			<br><br>
		</div>
		<div class="pricing-table">
		  <div class="pricing-plan">
			<div class="content">
				<h2>Zajęcia indywidualne</h2>
				<table border="1" style="border-collapse: collapse; margin:auto;">
                <tr>
                    <th style="padding: 7px;">Cena</th>
                    <th style="padding: 7px;">Poziom</th>
					<th style="padding: 7px;">Czas</th>
                </tr>
                <tr>
                    <td style="padding: 7px;">50 zł</td>
                    <td style="padding: 7px;">podstawowy</td>
					<td style="padding: 7px;">50 minut</td>
                </tr>
                <tr>
                    <td style="padding: 7px;">70 zł</td>
                    <td style="padding: 7px;">rozszerzony</td>
					<td style="padding: 7px;">50 minut</td>
                </tr>
				</table>
				<ul style="margin-top:25px;">
				  <li>✔ Zajęcia <b>1:1</b> z korepetytorem.</li>
				  <li>✔ <b>Elastyczność</b> doboru terminów zajęć.</li>
				  <li>✔ Możliwość zmiany terminu / odwołania zajeć na <b>15
				   minut</b> przed rozpoczęciem planowych.</li>
				  <li>✔ <b>Nielimitowany dostęp</b> do wglądu w materiały z zajęć.</li>
				  <li>✔ Możliwość kontaktu z korepetytorem poza godzinami zajęć.</li>
				  <li>✔ <b>Zajęcia dostosowane do potrzeb ucznia</b> (korygujące / rozwijające).</li>
				  <li>✔ Zajęcia odbywające się na <b>łatwej i przyjemnej</b> w obsłudze
				  aplikacji komunikacyjnej oraz tablicy wirtualnej.</li>
				  <li style="margin-top:20px"><i><b>Zajęcia nabywa się na okres minimum 1 miesiąca.</b></i></li>
				</ul>
			</div>
		  </div>

		  <div class="pricing-plan">
			<div class="content">
				<h2>Zajęcia grupowe</h2>
				<table border="1" style="border-collapse: collapse; margin:auto;">
					<tr>
						<th style="padding: 7px;">Cena</th>
						<th style="padding: 7px;">Poziom</th>
						<th style="padding: 7px;">Czas</th>
					</tr>
					<tr>
						<td style="padding: 7px;">35 zł</td>
						<td style="padding: 7px;">podstawowy</td>
						<td style="padding: 7px;">50 minut</td>
					</tr>
					<tr>
						<td style="padding: 7px;">55 zł</td>
						<td style="padding: 7px;">rozszerzony</td>
						<td style="padding: 7px;">50 minut</td>
					</tr>
				</table>
				<ul style="margin-top:25px;">
					<li>✔ Zajęcia w 2-4 osobowej grupie o <b>starannie dobranym poziomie</b>.</li>
					<li>✔ Moliwość kontaktu z innymi członkami grupy.</li>
					<li>✔ <b>Nielimitowany dostęp</b> do wglądu w materiały z zajęć.</li>
					<li>✔ Możliwość kontaktu z korepetytorem poza godzinami zajęć.</li>
					<li>✔ <b>Zajęcia dostosowane do potrzeb ucznia</b> (korygujące / rozwijające).</li>
					<li>✔ Zajęcia odbywające się na <b>łatwej i przyjemnej</b> w obsłudze aplikacji komunikacyjnej
						oraz tablicy wirtualnej.</li>
					<li style="margin-top:20px"><i><b>Zajęcia nabywa się na okres minimum 1 miesiąca.</b></i></li>
				</ul>
			</div>
		  </div>
		  <div class="pricing-plan">
			  <div class="content">
				<h2>Pakiety</h2>
				<table border="1" style="border-collapse: collapse; margin:auto;">
				<h3>Zajęcia indywidualne (min.1 miesiąc)</h3>
                <tr>
                    <th style="padding: 7px;">Ilość zajęć</th>
                    <th style="padding: 7px;">Podst.</th>
					<th style="padding: 7px;">Rozsz.</th>
					<th style="padding: 7px;">Rabat</th>
                </tr>
                <tr>
                    <td style="padding: 7px;">2</td>
                    <td style="padding: 7px;">95 zł</td>
					<td style="padding: 7px;">135 zł</td>
					<td style="padding: 7px;">- 5 zł</td>
                </tr>
                <tr>
                    <td style="padding: 7px;">3</td>
                    <td style="padding: 7px;">140 zł</td>
					<td style="padding: 7px;">200 zł</td>
					<td style="padding: 7px;">- 10 zł</td>
                </tr>
				</table>

				<table border="1" style="border-collapse: collapse; margin:auto;">
				<h3 style="margin-top:50px;">Zajęcia grupowe (min.1 miesiąc)</h3>
                <tr>
                    <th style="padding: 7px;">Ilość zajęć</th>
                    <th style="padding: 7px;">Podst.</th>
					<th style="padding: 7px;">Rozsz.</th>
					<th style="padding: 7px;">Rabat</th>
                </tr>
                <tr>
                    <td style="padding: 7px;">2</td>
                    <td style="padding: 7px;">65 zł</td>
					<td style="padding: 7px;">105 zł</td>
					<td style="padding: 7px;">- 5 zł</td>
                </tr>
                <tr>
                    <td style="padding: 7px;">3</td>
                    <td style="padding: 7px;">95 zł</td>
					<td style="padding: 7px;">155 zł</td>
					<td style="padding: 7px;">- 10 zł</td>
                </tr>
				</table>
				<ul style = "margin-top:25px;">
				  <li>Ilość zajęć podana w pierwszej kolumnie to ilość zajęć w tygodniu.</li>
				  <li style="margin-top:20px"><i><b>Zajęcia nabywa się na okres minimum 1 miesiąca.</b></i></li>
				</ul>
			  </div>
		  </div>
		</div>
	</div>

	<section id = "testimonial" class="testimonial-section">
		<div class="pricing-title">
				<h1><span>Opinie</span> naszych użytkowników</h1>
		</div>
		<div class="main-carousel">
		  <div class="testimonial">
			  <img src="{% static 'img/opinion1.jpg' %}" alt="Opinia użytkownika">
			  <p class="testimonial-author">- Agnieszka</p>
		  </div>
		  <div class="testimonial">
			  <img src="{% static 'img/opinion2.jpg' %}" alt="Opinia użytkownika">
			  <p class="testimonial-author">- Ania</p>
		  </div>
		  <div class="testimonial">
			  <img src="{% static 'img/opinion3.jpg' %}" alt="Opinia użytkownika">
			  <p class="testimonial-author">- Marta</p>
		  </div>
		  <div class="testimonial">
			  <img src="{% static 'img/opinion4.jpg' %}" alt="Opinia użytkownika">
			  <p class="testimonial-author">- Klaudia</p>
		  </div>
		  <div class="testimonial">
			  <img src="{% static 'img/opinion5.jpg' %}" alt="Opinia użytkownika">
			  <p class="testimonial-author">- Michał</p>
		  </div>
		</div>
	</section>

	<section id="contact" class="contact-section">
		<div class="contact-title">
			<h1>Kontakt</h1>
		</div>
		<form id="contact-form" method="post" action="{% url 'contact' %}">
			{% csrf_token %}
			<input type="email" name="email" placeholder="E-mail" required>
			<input type="text" name="phone_number" placeholder="Numer telefonu" required>
			<textarea name="message" placeholder="Napisz wiadomość . . ." required></textarea>
			<button type="submit">Wyślij</button>
		</form>
		<div id="success-message">Wiadomość została wysłana!</div>
	</section>

	<script>
		document.addEventListener('DOMContentLoaded', function () {
			var contactForm = document.getElementById('contact-form');
			var successMessage = document.getElementById('success-message');

			contactForm.addEventListener('submit', function (event) {
				event.preventDefault();

				var formData = new FormData(contactForm);

				fetch('{% url "contact" %}', {
					method: 'POST',
					body: formData
				})
				.then(response => {
					if (response.ok) {
						successMessage.style.display = 'block';
						setTimeout(function () {
							successMessage.style.display = 'none';
						}, 5000);
					}
				})
				.catch(error => console.error('Error:', error));
			});
		});
	</script>

	<footer>
	  <div class="footer-columns">
		<div class="footer-column">
		  <h4>Obsługa klienta</h4>
		  <ul>
			<li><a href="{% url 'faq' %}">FAQ</a></li>
			<li><a href="{% url 'contact-info' %}">Skontaktuj się z nami</a></li>
		  </ul>
		</div>
		<div class="footer-column">
		  <h4>Informacje</h4>
		  <ul>
			<li><a href="{% url 'statute' %}">Regulamin</a></li>
			<li><a href="https://forms.office.com/r/ikfnznRhjN" target="_blank">Badanie potrzeb ucznia</a></li>
			  <li><a href="https://forms.gle/mPxPnYdmZ5rGJmT16" target="_blank">Badanie preferencji klientów</a></li>
		  </ul>
		</div>
		<div class="footer-column">
		  <h4>Znajdź nas</h4>
		  <a href="https://www.facebook.com/profile.php?id=61553842207855" target="_blank" class="fa fa-facebook"></a>
		  <a href="https://www.instagram.com/schoolweb_polska/" target="_blank" class="fa fa-instagram"></a>
		</div>
	  </div>
	  <p>&copy; 2024 SchoolWeb. Wszelkie prawa zastrzeżone.</p>
	  <h5>Stworzone przez <a href="https://rojowskiprojects.pl/" target="_blank">Rojowski Projects</a></h5>
	</footer>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
	<script src="{% static 'js/faq.js' %}"></script>

	<script type="text/javascript">
	$(document).ready(function() {
	  $('.main-carousel').flickity({
		cellAlign: 'left',
		wrapAround: true,
		freeScroll: true
	  });
	});
	</script>
</body>
</html>
