{% extends 'widget.html' %}
{% load static %}

{% block description %}
<meta name="description" content="Skontaktuj się z platformą edukacyjną SchoolWeb w razie pytań lub problemów.">
{% endblock description %}

{% block title %}SchoolWeb | Kontakt {% endblock title %}

{% block content %}
<div class="hero sub-hero">
    <div class="contact-container">
        <h1>Kontakt</h1>
        <div class="contact-widget">
            <h4>PYTANIA OGÓLNE</h4>
            <p>helpdesk.schoolweb@gmail.com</p>
            <h4>APLIKUJ NA STANOWISKO KOREPETYTORA</h4>
            <p>rekrutacja.schoolweb@gmail.com</p>
            <h4>NUMER KONTAKTOWY</h4>
            <p>+48 572 930 585</p>
            <h4>ADRES KORYSPONDENCYJNY</h4>
            <p>Wielicka 44, 30-552 Kraków</p>
        </div>
    </div>
</div>
{% endblock content %}