{% extends 'widget.html' %}
{% load static %}

{% block description %}
<meta name="description" content="Skontaktuj się z platformą edukacyjną SchoolWeb w razie pytań lub problemów.">
{% endblock description %}

{% block title %}SchoolWeb | Kontakt {% endblock title %}

{% block content %}
<div class="hero sub-hero">
    <div class="contact-container">
        <h2>Regulamin Platformy Edukacyjnej SchoolWeb</h2>
        <p>1. Firma SchoolWeb, zlokalizowana w Krakowie (zwana dalej "SchoolWeb"), dostarcza interaktywną platformę
            online (społecznościowy serwis edukacyjny) umożliwiającą udzielanie korepetycji oraz świadczenie i
            otrzymywanie pomocy z zadaniami (zagadnieniami edukacyjnymi) dostępną pod adresem schoolweb.pl.
            (zwaną dalej "Platformą").</p>
    </div>
</div>
{% endblock content %}