<footer>
    <div class="footer-columns">
        <div class="footer-column">
            <h4>Obsługa klienta</h4>
            <ul>
                <li><a href="{% url 'schoolweb:faq' %}">FAQ</a></li>
                <li><a href="{% url 'schoolweb:contact' %}">Skontaktuj się z nami</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h4>Informacje</h4>
            <ul>
                <li><a href="{% url 'schoolweb:statute' %}">Regulamin</a></li>
                <li><a href="https://forms.office.com/r/ikfnznRhjN" target="_blank">Badanie potrzeb ucznia</a></li>
                <li><a href="https://forms.gle/mPxPnYdmZ5rGJmT16" target="_blank">Badanie preferencji klientów</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h4>Znajdź nas</h4>
            <a href="https://www.facebook.com/profile.php?id=61553842207855" target="_blank" class="fa fa-facebook"></a>
            <a href="https://www.instagram.com/schoolweb_polska/" target="_blank" class="fa fa-instagram"></a>
        </div>
    </div>
    <p>&copy; 2024 SchoolWeb. Wszelkie prawa zastrzeżone.</p>
    <h5>Stworzone przez <a href="https://rojowskiprojects.pl/" target="_blank">Rojowski Projects</a></h5>
</footer>
