{% load static %}
<nav>
    <div class="nav-container">
        <a class="nav-brand" href="{% url 'schoolweb:home' %}" title="Wróć do strony głównej">
            <img src="{% static 'img/widget/logo.png' %}" alt="Logo SchoolWeb">
            <div class="nav-brand-name">
                <span class="title-word title-word-1">School</span>
                <span class="title-word title-word-2">Web</span>
            </div>
        </a>
        <ul class="nav-links">
            <li>
                {% if user_in_migrates %}
                    <a href="{% url 'schoolweb:coursesLoader' %}" class="upper-btn" title="Korepetycje">STREFA KOREPETYCJI</a>
                {% else %}
                    <a href="{% url 'schoolweb:lessons-home' %}" class="upper-btn" title="Korepetycje">STREFA KOREPETYCJI</a>
                {% endif %}
            </li>
            <li><a href="{% url 'schoolweb:knowledge_zone' %}" class="upper-btn" title="Forum">STREFA WIEDZY</a></li>
        </ul>
        <div class="hamburger-menu">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
    </div>
    <div class="additional-nav">
        <ul class="nav-links">
            <li><a href="{% url 'schoolweb:home' %}#jak-zaczac" class="nav-option">Jak zacząć?</a></li>
            <li><a href="{% url 'schoolweb:home' %}#ceny" class="nav-option">Ceny</a></li>
            <li><a href="{% url 'schoolweb:home' %}#opinie" class="nav-option">Opinie</a></li>
            <li><a href="{% url 'schoolweb:become-tutor' %}" class="nav-option">Zostań korepetytorem</a></li>
            <li><a class="nav-option" onclick="openModal()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"  role="img" aria-label="Otwórz sklep SchoolWeb">
                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5
                    8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313
                    7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1
                    1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                </svg>
                SchoolWeb Store</a>
            </li>
            <li>
                <a href="{% url 'schoolweb:blog-post-list' %}" class="nav-option">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16" role="img" aria-label="Blog icon">
                        <path d="M12.146.854a.5.5 0 0 1 .708 0l2.292 2.292a.5.5 0 0 1 0 .708l-9.646 9.646a.5.5 0 0 1-.168.11l-4 1.5a.5.5 0 0 1-.651-.651l1.5-4a.5.5 0 0 1 .11-.168l9.646-9.646zM11.207 2L2 11.207V14h2.793L14 4.793 11.207 2z"/>
                    </svg>
                    Blog
                </a>
            </li>
            <li><a href="{% url 'schoolweb:subjects' %}" class="nav-option">Przedmioty</a></li>
            <li><a href="{% url 'schoolweb:home' %}#kontakt" class="nav-option">Kontakt</a></li>
        </ul>
    </div>
    <!-- Mobile Menu -->
    <div class="mobile-menu">
        <ul>
            <li>
                {% if user_in_migrates %}
                    <a href="{% url 'schoolweb:coursesLoader' %}" class="upper-btn" title="Korepetycje">STREFA KOREPETYCJI</a>
                {% else %}
                    <a href="{% url 'schoolweb:lessons-home' %}" class="upper-btn" title="Korepetycje">STREFA KOREPETYCJI</a>
                {% endif %}
            </li>
            <li><a href="{% url 'schoolweb:knowledge_zone' %}" title="Forum">STREFA WIEDZY</a></li>
            <li><a href="{% url 'schoolweb:home' %}#jak-zaczac">Jak zacząć?</a></li>
            <li><a href="{% url 'schoolweb:home' %}#ceny">Ceny</a></li>
            <li><a href="{% url 'schoolweb:home' %}#opinie">Opinie</a></li>
            <li><a href="{% url 'schoolweb:become-tutor' %}">Zostań korepetytorem</a></li>
            <li><a onclick="openModal()">SchoolWeb Store</a></li>
            <li><a href="{% url 'schoolweb:blog-post-list' %}" class="nav-option">Blog</a></li>
            <li><a href="{% url 'schoolweb:subjects' %}">Przedmioty</a></li>
            <li><a href="{% url 'schoolweb:home' %}#kontakt">Kontakt</a></li>
        </ul>
    </div>
</nav>
