{% load static %}
<nav>
    <div class="nav-container">
        <a class="nav-brand" href="{% url 'schoolweb:home' %}" title="Wróć do strony głównej">
            <img src="{% static 'img/widget-main-view/logo.png' %}" alt="Logo SchoolWeb">
            <div class="nav-brand-name">
                <span class="title-word title-word-1">School</span>
                <span class="title-word title-word-2">Web</span>
            </div>
        </a>
        <ul class="nav-links">
            <li><a href="{% url 'schoolweb:lessons-home' %}" class="upper-btn" title="Korepetycje">STREFA KOREPETYCJI</a></li>
            <li><a href="{% url 'schoolweb:knowledge_zone' %}" class="upper-btn" title="Forum">STREFA WIEDZY</a></li>
        </ul>
        <div class="hamburger-menu">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
    </div>
    <div class="additional-nav">
        <ul class="nav-links">
            <li><a href="#" class="nav-option">Jak zacząć?</a></li>
            <li><a href="#" class="nav-option">Ceny</a></li>
            <li><a href="#" class="nav-option">Opinie</a></li>
            <li><a href="{% url 'schoolweb:become-tutor' %}" class="nav-option">Zostań korepetytorem</a></li>
            <li><a href="#" class="nav-option">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart">
                  <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5
                  8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313
                  7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1
                  1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                </svg>SchoolWeb Store</a>
            </li>
            <li><a href="#" class="nav-option">Przedmioty</a></li>
            <li><a href="#" class="nav-option">Kontakt</a></li>
        </ul>
    </div>
</nav>
