{% extends 'widget.html' %}
{% load static %}

{% block description %}
<meta name="description" content="Regulamin określający prawa i zasady platformy edukacyjnej SchoolWeb">
{% endblock description %}

{% block title %}SchoolWeb | Regulamin {% endblock title %}

{% block content %}
<div class="hero sub-hero">
    <div class="statute-container">
        <h1>Regulamin Platformy Edukacyjnej SchoolWeb</h1>

        <h2>§1 Postanowienia ogólne</h2>
        <p>1. Firma SchoolWeb, zlokalizowana w Krakowie (zwana dalej "SchoolWeb"), dostarcza interaktywną platformę
            online (społecznościowy serwis edukacyjny) umożliwiającą udzielanie korepetycji oraz świadczenie i
            otrzymywanie pomocy z zadaniami (zagadnieniami edukacyjnymi) dostępną pod adresem schoolweb.pl.
            (zwaną dalej "Platformą").</p>
        <p>2. Niniejszy Regulamin jest wiążący dla wszystkich zarejestrowanych użytkowników Platformy
            (zwanych dalej "Użytkownikiem"). Określają one prawa i obowiązki Użytkowników podczas korzystania z
            Platformy oraz oferowanych na niej funkcji i usług.</p>
        <p>3. SchoolWeb zastrzega sobie prawo do dowolnej modyfikacji obecnego Regulaminu w dowolnym momencie, bez
            konieczności podawania przyczyny. Wszelkie zmiany będą ogłaszane na Platformie. Kontynuując korzystanie
            z usług Platformy po zapoznaniu się ze zmienionym Regulaminem, użytkownik wyraża zgodę na ich
            akceptację.</p>
        <p>4. Użytkownicy oraz osoby zarejestrowane jako Korepetytorzy (zwani dalej "Korepetytorem") mogą umawiać
            się na lekcje wideo online (zwane dalej "Lekcjami Wideo") za pośrednictwem Platformy.<p>

        <h2>§2 Rejestracja i Konto Użytkownika</h2>
        <p>1. Aby skorzystać z pełnej gamy funkcji Platformy, konieczne jest dokonanie rejestracji przez
            użytkownika.</p>
        <p>2. Użytkownik jest zobowiązany do udzielenia prawdziwych informacji osobowych w trakcie procesu
            rejestracji na Platformie.</p>
        <p>3. Hasło dostępu do konta jest poufne, a Użytkownik ponosi pełną odpowiedzialność za jego
            bezpieczeństwo.</p>
        <p>4. Firma SchoolWeb zastrzega sobie prawo do dezaktywacji konta Użytkownika w przypadku naruszenia
            postanowień niniejszego Regulaminu.</p>
        <p>5. Na Platformie możliwa jest rejestracja bez względu na wiek użytkownika. Niemniej jednak, aby
            korzystać z płatnych usług (takich jak lekcje wideo) za pośrednictwem Platformy, użytkownicy muszą
            mieć ukończone 16 lat, a korepetytorzy co najmniej 18 lat. W przypadku, gdy Użytkownik lub
            Korepetytor nie osiągnął wymaganego minimalnego wieku, wymagana jest uprzednia zgoda prawnego opiekuna
            tej osoby.</p>

        <h2>§3 Przedmiot umowy, opis usługi</h2>
        <p>1. Osoby zarejestrowane jako Użytkownicy oraz Korepetytorzy mają możliwość organizowania lekcji wideo
            online za pośrednictwem Platformy.</p>
        <p>2. Wszystkie osoby, które zamierzają udzielać lekcji wideo poprzez Platformę, muszą się zarejestrować
            jako Korepetytorzy. Nie jest wymagane, aby te osoby były wykwalifikowanymi nauczycielami szkolnymi.</p>
        <p>3. SchoolWeb ma obowiązek dostarczania wszystkim użytkownikom niezbędnych aktualizacji Platformy, które
            są konieczne do utrzymania przewidzianego w umowie rodzaju Użytkowania. Aby w pełni korzystać z
            Platformy, może być konieczne pobranie i zainstalowanie przez Użytkownika oprogramowania zewnętrznego
            (darmowych aplikacji). SchoolWeb poinformuje Użytkowników o wymaganym oprogramowaniu i wszelkich
            aktualizacjach, które należy przeprowadzić przed podjęciem decyzji o zawarciu umowy.</p>

        <h2>§4 Nabywanie środków na platformie</h2>
        <p>1. Użytkownicy mogą zawrzeć umowę z Korepetytorem nabywając środki na Lekcje Wideo za pośrednictwem
            Platformy. Wypłata środków dla Korepetytora jest obsługiwana przez SchoolWeb. Środki na lekcje wideo
            mogą być nabywane w formie pakietów.</p>
        <p>2. Po wykorzystaniu dostępnych zajęć przez Użytkownika, funkcjonalność korzystania z korepetycji na
            Platformie zostaje zawieszona aż do momentu wykupienia kolejnego pakietu</p>
        <p>3. Aby dokonać zakupu pakietu należy dokonać przelewu (tradycyjnego albo BLIK) na wskazany na Platformie
            numer rachunku bankowego. W tytule wpisać imię i nazwisko użytkownika oraz liczbę zajęć, za którą
            dokonana jest zapłata(opcjonalnie adres e-mail). </p>

        <h2>§5 Prawa i obowiązki użytkowników</h2>
        <p>1. Użytkownik wyraża zgodę na to, aby podczas korzystania z lekcji wideo poprzez Platformę SchoolWeb
            zostaną mu potrącone środki w postaci zajęć objętych w wykupionym przez niego pakiecie. Te środki
            zostaną przekazane na konto Korepetytora jako należność za daną jednostkę lekcyjną.</p>
        <p>2. Użytkownik ma możliwość złożenia prośby o zmianę terminu zajęć pod warunkiem akceptacji prośby przez
            Korepetytora najpóźniej 15 minut przed zaplanowanym terminem. Po akceptacji Użytkownik zostanie
            przeniesiony na nowo ustalony termin bez dodatkowych opłat. Warto zaznaczyć, że każdy Korepetytor
            może ustalić własne warunki dotyczące bezpłatnej zmiany harmonogramu, jednak limit ustalony przez
            SchoolWeb to 15 minut przed rozpoczęciem lekcji. W przypadku odwołania lub zmiany terminu lekcji
            niezgodnie z regulaminem, SchoolWeb może potrącić jednostkę lekcyjną z salda Użytkownika na
            rachunek Korepetytora.</p>
        <p>3. Użytkownik zobowiązuje się do zachowania poufności przekazanych przez SchoolWeb danych dostępowych.
            Użytkownik odpowiada za wszelkie działania wynikające z korzystania z jego konta użytkownika.</p>
        <p>4. Użytkownik zobowiązuje się natychmiast poinformować SchoolWeb w przypadku podejrzenia nieuprawnionego
            dostępu do jego konta Użytkownika. W sytuacji podejrzenia nieuprawnionego korzystania z konta
            Użytkownika lub naruszenia obowiązujących przepisów prawa lub niniejszego Regulaminu, SchoolWeb
            zastrzega sobie prawo do zablokowania konta Użytkownika.</p>

        <h2>§6 Korzystanie z platformy</h2>
        <p>1. SchoolWeb udostępnia Platformę Użytkownikom przez całą dobę, przez siedem dni w tygodniu. Niemniej
            jednak, ze względu na ograniczenia technologiczne, nie można zagwarantować całkowitej niezawodności
            oprogramowania. SchoolWeb nie gwarantuje, że oprogramowanie, na którym opiera się Platforma, jest
            całkowicie wolne od błędów, a także nie wyklucza możliwości wystąpienia przerw w funkcjonowaniu
            Platformy z powodu koniecznych prac konserwacyjnych. Planowane prace konserwacyjne będą zawsze
            wcześniej informowane przez SchoolWeb. Niemniej jednak, SchoolWeb nie jest zobowiązane do regularnych
            aktualizacji Platformy.</p>
        <p>2. Zarówno Platforma, jak i oprogramowanie stanowiące jej podstawę są objęte prawem autorskim i nie mogą
            być wykorzystywane ani modyfikowane bez wcześniejszej pisemnej zgody SchoolWeb. Wygląd Platformy oraz
            treści umieszczone na niej, takie jak bazy danych, zdjęcia, obrazy, loga, filmy, teksty, grafiki, są
            chronione prawem autorskim lub innymi przepisami dotyczącymi własności intelektualnej. Bez wyraźnego
            zaznaczenia inaczej, prawa do tych treści przysługują SchoolWeb.</p>
        <p>3. Użytkownik akceptuje, że jest zabronione rozpowszechnianie przez Platformę treści, takich jak:
            <br>a. treści rasistowskie, pornograficzne, obsceniczne, obraźliwe, wulgarne, brutalne, poniżające i
            niemoralne;
            <br>b. obraźliwe, krzywdzące komentarze lub groźby wobec innych Użytkowników, Korepetytorów lub osób
            trzecich;
            <br>c. treści naruszające lub zagrażające dzieciom lub młodzieży, naruszające godność ludzką lub inne
            prawnie chronione dobra;
            <br>d. treści, które mogą skłonić innych do popełnienia przestępstwa lub aktów przemocy;
            <br>e. skopiowanych treści, do których Korepetytor nie ma praw lub które zostały udostępnione przez
            inne zarejestrowane osoby;
            <br>f. treści stanowiące zagrożenie dla bezpieczeństwa, takie jak wirusy;
            <br>g. niechciane e-maile reklamowe, spam, inne niechciane wiadomości, tzw. bomby e-mailowe itp.
            kierowane do innych Użytkowników, Korepetytorów lub osób trzecich, a także umieszczanie linków do stron
            osób trzecich w celach reklamowych.</p>
        <p>4. Użytkownik przekazuje SchoolWeb bezpłatne, niewyłączne, wieczyste i nieograniczone prawa do
            korzystania, edytowania, kopiowania i rozpowszechniania treści zamieszczonych na Platformie w celu
            udostępniania ich na Platformie oraz w celu promocji Platformy.</p>
        <p>5. SchoolWeb ma prawo do ograniczenia lub całkowitego zaprzestania świadczenia usług oferowanych przez
            Platformę w dowolnym momencie bez konieczności podawania przyczyny. Ważne zmiany lub ograniczenia w
            oferowanych usługach będą ogłaszane na Platformie z odpowiednim wyprzedzeniem.</p>
        <p>6. Ograniczenie lub zaprzestanie świadczenia usług przez SchoolWeb nie wpływa na obowiązywanie
            niniejszego Regulaminu.</p>

        <h2>§7 Odpowiedzialność</h2>
        <p>1. SchoolWeb nie jest odpowiedzialny za treści zamieszczane przez Użytkowników lub Korepetytorów na
            Platformie, a także za zawartość stron internetowych powiązanych z SchoolWeb.</p>

        <h2>§8 Odstąpienie od współpracy</h2>
        <p>1. Użytkownik ma prawo do zerwania/zakończenia współpracy bez podania przyczyn.</p>
        <p>2. Użytkownik ma możliwość zaprzestać współpracy z Platformą w każdej chwili(okres wypowiedzenia trwa
            7 dni od wybranego terminu rezygnacji). SchoolWeb zastrzega sobie jednak prawo do całkowitego usunięcia
            konta użytkownika w terminie niedłuższym niż 31 dni.</p>
        <p>3. Użytkownik, po zakończeniu współpracy, nie będzie uprawniony do wykorzystania niewykorzystanych
            lekcji, ani nie przysługuje mu zwrot pieniędzy za nie.</p>

        <h2>§9 Postanowienia końcowe</h2>
        <p>1. W przypadku wystąpienia sprzeczności między niniejszym Regulaminem, a innymi pisemnymi umowami
            między Użytkownikiem a SchoolWeb, postanowienia tych innych umów będą miały pierwszeństwo.</p>
        <p>2. Jeżeli konkretne postanowienia niniejszego Regulaminu zostaną uznane za nieważne, pozostała
            część Regulaminu pozostanie ważna.</p>
        <p>3. "Osoba trzecia" w kontekście niniejszego Regulaminu oznacza każdą osobę fizyczną lub prawną, która
            nie jest zarejestrowana jako Użytkownik ani SchoolWeb, nawet jeśli zachodzą stosunki prawne i/lub
            ekonomiczne z taką osobą.</p>
    </div>
</div>
{% endblock content %}