{% extends 'base-tutoring-zone.html' %}

{% block navbar %}
{% include 'tutoring-zone/nav-no-search.html' %}
{% endblock navbar %}

{% load static %}
{% block content %}
<main class="auth layout">
  <div class="container">
    <div class="layout__box">
      <div class="layout__boxHeader">
        <div class="layout__boxTitle">
          <h3>Rejestracja Korepetytora</h3>
        </div>
      </div>
      <div class="layout__body">
        <h2 class="auth__tagline">
          Utwórz konto korepetytora, aby móc w pełni korzystać ze <i>Strefy Korepetycji</i>
        </h2>

        <form class="form" action="" method="POST">
          {% csrf_token %}
          <!-- First Name Field -->
          <div class="form__group">
            <label for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}</label>
            {{ form.first_name }}
            {% if form.first_name.errors %}
              <div class="form__error">
                {{ form.first_name.errors }}
              </div>
            {% endif %}
          </div>

          <!-- Last Name Field -->
          <div class="form__group">
            <label for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}</label>
            {{ form.last_name }}
            {% if form.last_name.errors %}
              <div class="form__error">
                {{ form.last_name.errors }}
              </div>
            {% endif %}
          </div>

          <!-- Username Field -->
          <div class="form__group">
            <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
            {{ form.username }}
            {% if form.username.errors %}
              <div class="form__error">
                {{ form.username.errors }}
              </div>
            {% endif %}
          </div>

          <!-- Email Field -->
          <div class="form__group">
            <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
            {{ form.email }}
            {% if form.email.errors %}
              <div class="form__error">
                {{ form.email.errors }}
              </div>
            {% endif %}
          </div>

          <!-- Password Field 1 -->
          <div class="form__group">
            <label for="{{ form.password1.id_for_label }}">{{ form.password1.label }}</label>
            <div class="password-container">
              <input type="password" name="password1" id="{{ form.password1.id_for_label }}" class="form-control" value="">
              <span class="toggle-password" onclick="togglePasswordVisibility('{{ form.password1.id_for_label }}', '{{ form.password1.name }}-icon', '{{ form.password1.name }}-path')" title="Pokaż/ukryj hasło">
                <svg id="{{ form.password1.name }}-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="icon">
                  <path id="{{ form.password1.name }}-path" d="M12 5C7 5 3 9 3 12c0 3 4 7 9 7s9-4 9-7c0-3-4-7-9-7zm0 10c-1.66 0-3-1.34-3-3s1.34-3 3-3 3 1.34 3 3-1.34 3-3 3z" class="closed" />
                </svg>
              </span>
              {% if form.password1.errors %}
                <div class="form__error">{{ form.password1.errors }}</div>
              {% endif %}
            </div>
          </div>

          <!-- Password Field 2 -->
          <div class="form__group">
            <label for="{{ form.password2.id_for_label }}">{{ form.password2.label }}</label>
            <div class="password-container">
              <input type="password" name="password2" id="{{ form.password2.id_for_label }}" class="form-control" value="">
              <span class="toggle-password" onclick="togglePasswordVisibility('{{ form.password2.id_for_label }}', '{{ form.password2.name }}-icon', '{{ form.password2.name }}-path')" title="Pokaż/ukryj hasło">
                <svg id="{{ form.password2.name }}-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="icon">
                  <path id="{{ form.password2.name }}-path" d="M12 5C7 5 3 9 3 12c0 3 4 7 9 7s9-4 9-7c0-3-4-7-9-7zm0 10c-1.66 0-3-1.34-3-3s1.34-3 3-3 3 1.34 3 3-1.34 3-3 3z" class="closed" />
                </svg>
              </span>
              {% if form.password2.errors %}
                <div class="form__error">{{ form.password2.errors }}</div>
              {% endif %}
            </div>
          </div>

          {% if messages %}
          <ul class="messages">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
          </ul>
          {% endif %}

          <div class="container">
            <div class="center-button">
              <button class="btn btn--link" type="submit">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" >
                  <path d="M27 12h-1v-2c0-5.514-4.486-10-10-10s-10 4.486-10 10v2h-1c-0.553 0-1 0.447-1 1v18c0 0.553
                  0.447 1 1 1h22c0.553 0 1-0.447 1-1v-18c0-0.553-0.447-1-1-1zM8 10c0-4.411 3.589-8 8-8s8 3.589 8
                  8v2h-16v-2zM26 30h-20v-16h20v16z" ></path>
                  <path d="M15 21.694v4.306h2v-4.306c0.587-0.348 1-0.961 1-1.694 0-1.105-0.895-2-2-2s-2 0.895-2 2c0
                  0.732 0.413 1.345 1 1.694z" ></path>
                </svg>
                Zarejestruj
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script src="{% static 'js/password-visibility.js' %}"></script>
</main>
{% endblock content %}
