{% load static %}
<div class="topics">
  <div class="topics__header">
    <h2>Twoje kursy</h2>
  </div>
  <ul class="topics__list">
    <li>
      <a href="{% url 'schoolweb:teacherPage' %}" class="topic-link {% if not request.GET.q %}active{% endif %}">
          <div style="align-items: center;">
              <img src="{% static 'img/icons/5_ZZWRR5G.svg' %}"/>
              Wszystkie lekcje
          </div>
          <span class="topics__list__count">{{ courses.count }}</span>
      </a>
      <hr>
    </li>

    {% for course in courses %}
    <li>
      <a href="{% url 'schoolweb:teacherPage' %}?q={{ course.name }}" class="topic-link {% if request.GET.q == course.name %}active{% endif %}">
          <div class="topics__list__info">
              <div class="topics__list__text">
                  <span class="topics__list__name">
                        {% for student in course.students.all %}
                            {{ student.get_full_name }}{% if not forloop.last %}, {% endif %}
                        {% empty %}
                            Kurs
                        {% endfor %}
                  </span>
                  <div class="topics__list__details__container">
                      <span class="topics__list__subject">{{ course.subject}}</span>
                      <span class="topics__list__type">
                        {% if course.course_type == 'basic' %}
                            Podstawa
                        {% elif course.course_type == 'intermediate' %}
                            Rozszerzenie
                        {% else %}
                            {{ course.course_type }}
                        {% endif %}
                      </span>
                  </div>
              </div>
          </div>
          <span class="topics__list__count">{{ course.lesson_set.all.count }}</span>
      </a>
      <hr>
    </li>
    {% endfor %}
  </ul>
</div>
