{% load static %}
{% for lesson in lessons %}
<div class="roomListRoom {% if lesson.event_datetime and lesson.event_datetime <= time_threshold %}expired-lesson{% endif %}">
    <div class="roomListRoom__header">
      {% if lesson.host %}
      <a href="{% url 'schoolweb:user-profile' lesson.host.id %}" class="roomListRoom__author">
        <div class="avatar avatar--small active">
            <img src="{% if lesson.host.avatar %}{{ lesson.host.avatar.url }}{% else %}{% static 'img/profile-pictures/avatar.svg' %}{% endif %}" alt="Avatar użytkownika"/>
        </div>
        <span title="Zobacz profil">{{ lesson.host.first_name }} {{ lesson.host.last_name }}</span>
      </a>
      {% else %}
      <div class="roomListRoom__author">
        <div class="avatar avatar--small">
          <img src="path_to_default_avatar_image.png" />
        </div>
        <span>Użytkownik usunięty</span>
      </div>
      {% endif %}
      <div>
          {% if lesson.can_join %}
            <div>
              <a href="{% url 'schoolweb:converse' %}?room={{ lesson.invite_code }}" target="_blank" class="joinButton">
                <i class="fa fa-arrow-circle-right"></i> DOŁĄCZ
              </a>
            </div>

          {% elif lesson.can_feedback %}
            <a href="{% url 'schoolweb:lesson-feedback' lesson.id %}" class="feedback pulse-animation">
              <i class="fa fa-edit" style="margin-right: 5px;"></i>UZUPEŁNIJ
            </a>

          {% elif lesson.can_refresh %}
            <div class="inactiveButton">
              <span class="lock-icon"><i class="fa fa-lock"></i></span>
            </div>
            <a href="{% url 'schoolweb:lesson-correction' lesson.id %}" class="resetAmountButton">
              <i class="fa fa-refresh"></i>
            </a>

          {% elif lesson.lock_before_join or lesson.lock_after_join or lesson.lock_only %}
            <div class="inactiveButton">
              <span class="lock-icon"><i class="fa fa-lock"></i></span>
            </div>

          {% else %}
            <div class="inactiveButton">
              <span class="lock-icon"><i class="fa fa-lock"></i></span>
            </div>
          {% endif %}
      </div>
    </div>
    <div class="roomListRoom__content">
        <div class="lesson-details">
            <div class="lesson-row">
                <span class="lesson-label">Data:</span>
                <span class="lesson-date">{{ lesson.event_datetime|date:"Y-m-d" }}</span>
            </div>

            <div class="lesson-row">
                <span class="lesson-label">Godzina:</span>
                <span class="lesson-time">{{ lesson.event_datetime|date:"H:i" }}</span>
            </div>

            <div class="lesson-row">
                <span class="lesson-label">Temat:</span>
                <a href="{% url 'schoolweb:lesson' lesson.id %}" class="lesson-title">{{ lesson.title }}</a>
            </div>

            <div class="lesson-row">
                <span class="lesson-label">Przedmiot:</span>
                <a href="{% url 'schoolweb:teacherPage' %}?q={{ lesson.course.name|urlencode }}" class="subject-link">
                    {{ lesson.course.subject }}
                </a>
            </div>

            <div class="lesson-row">
                <span class="lesson-label">Uczniowie:</span>
                <span class="student-list">
                    {% for student in lesson.course.students.all %}
                        <a href="{% url 'schoolweb:user-profile' student.pk %}" class="student-link">
                            {{ student.first_name }} {{ student.last_name }}
                        </a>{% if not forloop.last %}, {% endif %}
                    {% empty %}
                        Brak uczniów
                    {% endfor %}
                </span>
            </div>
        </div>
    </div>

    <div class="participants-avatars">
        {% for student in lesson.course.students.all %}
            <div class="avatar avatar--participant">
                <img src="{{ student.avatar.url }}" alt="{{ student.username }}">
            </div>
        {% endfor %}
        <div class="avatar avatar--participant">
            <img src="{% if teacher.avatar %}{{ teacher.avatar.url }}{% else %}{% static 'img/profile-pictures/avatar.svg' %}{% endif %}" alt="{{ teacher.username }}">
        </div>
    </div>

     <div class="comment-counters-container">
        <div class="comment-counter">
            <div class="comment-info-type">
                {% if lesson.course.course_type == 'basic' %}
                    Poziom podstawowy
                {% elif lesson.course.course_type == 'intermediate' %}
                    Poziom rozszerzony
                {% else %}
                    {{ lesson.course.course_type }}
                {% endif %}
            </div>
        </div>
        <div class="comment-counter">
            <div class="comment-info">
                {{ lesson.coursemessage_set.count }} odpowiedzi
            </div>
        </div>
     </div>
</div>
{% endfor %}
