{% extends "base.html" %}
{% block content %}
{% include 'navbarTeacher.html' %}
  <main class="create-room layout">
    <div class="container">
      <div class="layout__box" style="margin-top:300px;">
        <div class="layout__boxHeader">
          <div class="layout__boxTitle">
            <h3>Błędny adres URL</h3>
          </div>
        </div>
        <div class="layout__body">
          <p>Podane żądanie jest niemożliwe do wykonania.</p>
        </div>
      </div>
    </div>
  </main>
{% endblock content %}
