{% extends 'base-tutoring-zone.html' %}
{% load static %}

{% block navbar %}
  {% include 'tutoring-zone/nav-teacher-view.html' %}
{% endblock navbar %}

{% block content %}
<main class="create-room layout">
<div class="container">
  <div class="layout__box">
    <div class="layout__boxHeader">
      <div class="layout__boxTitle">
        <h3>Podsumowanie zajęć: {{ lesson.title }}</h3>
      </div>
    </div>
    <div class="layout__body">
      <form method="POST" action="">
        {% csrf_token %}

         <div class="form-group">
            <label for="{{ form.attended_teachers.id_for_label }}" class="larger-label">Nauczyciele którzy dołączyli:</label>
            {% for teacher in form.attended_teachers %}
                <br>
                {{ teacher }} {{ teacher.label_tag }}
            {% endfor %}
        </div>
        <br>
        <div class="form-group">
            <label for="{{ form.attended_students.id_for_label }}" class="larger-label">Uczniowie którzy dołączyli:</label>
            {% for student in form.attended_students %}
                <br>
                {{ student }} {{ student.label_tag }}
            {% endfor %}
        </div>
        <br>
        <div class="form-group">
          <label for="{{ form.feedback.id_for_label }}" class="larger-label">Dodatkowe informacje na temat lekcji:</label>
          {{ form.feedback }}
        </div>

        <div class="form__action">
          <a class="btn btn--main" href="{{ request.META.HTTP_REFERER }}">Anuluj</a>
          <button class="btn btn--main" type="submit">Zatwierdź</button>
        </div>
      </form>
    </div>
  </div>
</div>
</main>
<style>
input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #555;
    border-radius: 4px;
    outline: none;
    transition: background-color 0.3s;
}

input[type="checkbox"]:checked {
    background-color: #02d62d;
    border: 2px solid #02d62d;
}

label[for] {
    display: inline-block;
    margin-bottom: 10px;
}

.form-group .larger-label {
    font-size: 16px;
    font-weight: 900;
}
</style>
{% endblock content %}
