{% load static %}
<header class="header">
  <div class="container">
    <a href="{% url 'schoolweb:home' %}" class="header__logo">
      <img src="{% static 'img/widget/logo.png' %}" title="Wróć na stronę główną"/>
       <h1 title="Wróć do menu głównego">SchoolWeb</h1>
    </a>

    <nav class="header__menu">
      <a href="{% url 'schoolweb:logout' %}?next={{ request.path }}">
        <img src="{% static 'img/profile-pictures/avatar.svg' %}"/>
        <p>Zaloguj</p>
      </a>
    </nav>
  </div>
</header>
