{% extends 'base-tutoring-zone.html' %}
{% load static %}

{% block navbar %}
  {% include 'tutoring-zone/nav-teacher-view.html' %}
{% endblock navbar %}

{% block content %}
<br>
<div class="create-account scroll" style="height:600px; text-align:left; font-size:16px;">

        <div class="create-account_logo">
            <h2 style="color:#71c6dd;">TWORZENIE TWOJEGO KONTA JEST W TRAKCIE</h2>
        </div>
         <p>
             <img src="{% static 'img/widget/logo.png' %}"/>
             Obecnie trwa proces tworzenia Twojego konta i jest ono w fazie rozpatrywania przez administrację.
             Nasz zespół dokładnie przegląda dostarczone informacje w celu upewnienia się, że spełniają one nasze
             wymagania. Skontaktujemy się z Tobą najszybciej, jak to możliwe, aby poinformować Cię o statusie konta
             oraz dalszych krokach. <br><br>Tworzenie konta jest procesem, który wymaga starannej weryfikacji i
             zatwierdzenia przez naszą administrację. Nasz zespół pracuje nad tym, aby upewnić się, że wszelkie
             dane i informacje dostarczone podczas rejestracji są poprawne i zgodne z naszymi wytycznymi. Rozumiemy,
             że czekanie może być czasem frustrujące, ale chcemy zapewnić Cię, że staramy się jak najszybciej
             przetworzyć Twoją prośbę. <br><br>Dziękujemy za wybranie naszej platformy. Twoje zainteresowanie i
             cierpliwość są dla nas bardzo ważne. Jeśli masz jeszcze jakieś pytania lub wątpliwości, prosimy o kontakt
             za pomocą formularza na stronie SchoolWeb, telefonicznie lub mailowo. <br><br>Dziękujemy za cierpliwość
             i zrozumienie,<br>Zespół SchoolWeb
        </p>
</div>

<style>
.create-account {
    margin-top:220px;
}

.create-account p {
    display: flex;
    align-items: center;
    text-align:justify;
    margin:35px;
}
.create-account img {
  height: 27rem;
  width: 27rem;
  margin-right:10px;
}

@media (max-width: 1250px) {
  .create-account img{
    display:none;
  }
  .create-account p {
    margin-top:15px;
  }
  .create-account {
    margin-top:200px;
  }
}

@media (max-width: 676px) {
  .create-account {
    margin-top:100px;
    border-radius:7px;
  }

  .create-account p {
    margin-top:15px;
  }
}
</style>
{% endblock content %}
