:root {
    --color-main: #71c6dd;
    --color-main-light: #e1f6fb;
    --color-dark: #3f4156;
    --color-dark-medium: #51546e;
    --color-dark-light: #696d97;
    --color-light: #e5e5e5;
    --color-gray: #8b8b8b;
    --color-light-gray: #b2bdbd;
    --color-bg: #2d2d39;
    --color-success: #5dd693;
    --color-error: #fc4b0b;
}

* {
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    font-size: inherit;
}

html {
    font-size: 56.25%;
}

@media only screen and (min-width: 1100px) {
    html {
        font-size: 62.5%;
    }
}

@media only screen and (min-width: 2100px) {
    html {
        font-size: 75%;
    }
}

body {
    line-height: 1.6;
    font-weight: 400;
    font-size: 15px;
    color: #000;
    background: #F5F5F5;
    min-height: 100vh;
}

img {
    width: 100%;
}

a {
    display: inline-block;
    color: #BB00FF;
    text-decoration: none;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~HEADER~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.header {
    padding: 5px 0;
    background: #FFF;
    position: fixed;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.1);
}

.container {
    width: 100%;
    padding: 0 20px;
    margin: auto;
}

.header > .container {
    display: flex;
    gap: 5%;
}

.header__logo,
.header__user {
    display: flex;
    gap: 10px;
    align-items: center;
}

.header__logo > img {
    height: 50px;
    width: 50px;
}

.header__logo > h1 {
    font-size: 25px;
    color: #000;
}

.header__search > label {
    background: #F0F0F0;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
}

.header__search svg {
    fill: #636363;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    cursor:pointer;
}

.header__search input {
    width: 250px;
    background: transparent;
    border: none;
    outline: none;
    color: #000;
    font-size: 15px;
}

@media screen and (max-width: 1100px) {
    .header__search input {
        width: 180px;
    }

    .header > .container {
        gap: 30px;
    }
}

@media screen and (max-width: 900px) {
    .container {
        padding: 0 10px;
    }

    .header__search {
        display: none;
    }

    .header__logo > h1{
        display:none;
    }
}

.header__menu {
    margin-left: auto;
    position: relative;
    margin-top: 7px;
}

.header__menu img {
    height: 40px;
}

.header__menu a {
    display: flex;
    gap: 15px;
    align-items: center;
    font-weight: 500;
    text-decoration: none;
    color: #000;
    margin: 0;
}

.header__menu p {
    line-height: 1.2;
}

.header__menu span {
    color: #BB00FF;
    font-weight: 600;
    font-size: 14px;
    display: block;
}

.header__menu svg {
    width: 16px;
    height: 16px;
    fill: #000;
}

.dropdown-button {
    background: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.dropdown-button:hover svg {
    fill: #BB00FF;
}

.avatar {
    position: relative;
    display: inline-block;
    border-radius: 50%;
}

.avatar img {
    display: block;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.avatar::after {
    content: "";
    display: block;
    position: absolute;
    background: #FF0000;
    z-index: 111;
    border-radius: 50%;
    border: 2px solid #FFF;
}

.avatar.active::after {
    background-color: #00FF00;
}

.avatar.avatar--medium img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.avatar.avatar--medium:after {
    width: 7px;
    height: 7px;
    bottom: 0px;
    right: -2px;
}

.dropdown-menu {
    z-index: 111;
    position: absolute;
    top: 45px;
    background: #FFF;
    border-radius: 5px;
    overflow: hidden;
    display: none;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.dropdown-menu.show {
    display: block;
}

.dropdown-menu a {
    padding: 10px 25px;
    display: block;
    color: #000 !important;
    font-size: 14px;
}

.dropdown-menu a:hover {
    background: #F0F0F0;
    transition: 0.3s;
}

.dropdown-menu > a:not(:last-child) {
    border-bottom: 1px solid #DBDBDB;
}

.dropdown-menu a svg {
    fill: #696969;
    margin-right:5px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~DASHBOARD~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.layout > .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.layout--3 > .container > div:first-child {
    margin-top: 60px;
    width: 18%;
    position: fixed;
    overflow: auto;
    color: #000;
    height: 92%;
    padding: 0 10px 20px 0;
    font-size: 16px;
}

.layout--3 > .container > div:nth-child(2) {
    margin-top: 70px;
    flex: 1;
    margin-left: 24%;
    margin-right: 24%;
    overflow: auto;
    padding: 20px 10px;
}

.layout--3 > .container > div:last-child {
    margin-top: 60px;
    width: 20%;
    position: fixed;
    overflow: auto;
    top: 0;
    right: 0;
    bottom: 0;
    height: 92%;
    padding: 0 10px 20px 0;
    font-size: 16px;
}

@media screen and (max-width: 1300px) {
    .layout--3 > .container > div:first-child {
        width: 20%;
    }

    .layout--3 > .container > div:nth-child(2) {
        margin-left: 24%;
        margin-right: 24%;
    }

    .layout--3 > .container > div:nth-child(3) {
        width: 20%;
    }
}

@media screen and (max-width: 1100px) {
    .layout--3 > .container > div:first-child {
        width: 25%;
    }

    .layout--3 > .container > div:nth-child(2) {
        margin-left: 28%;
        margin-right: 28%;
    }

    .layout--3 > .container > div:nth-child(3) {
        width: 25%;
    }
}

@media screen and (max-width: 1060px) {
    .activities,
    .topics,
    .courseList{
        display: none;
    }

    .layout--3 > .container > div:nth-child(2) {
        margin-left: 5px;
        margin-right: 5px;
    }
}

@media (max-width: 768px) {
    .layout--3 > .container > div:nth-child(2) {
        margin-left: 0;
        margin-right: 0;
    }
}

.mobile-menu {
    margin-bottom: 25px;
}

.mobile-menu label{
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.1);
}

.mobile-menuItems {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top:10px;
}

@media screen and (min-width: 901px) {
    .mobile-menu {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .mobile-menu .header__search {
        display: block;
        margin-bottom: 2.4rem;
    }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~TOPICS-COMPONENT~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.topics .topics__list a {
    display: flex;
    align-items: center;
    padding: 2px;
    text-align: left;
    font-size: 14px;
}

.topics .topics__list a div {
    display: flex;
    align-items: center;
}

.topics .topics__list a img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.topics .topics__list a:hover{
    background: #E3E3E3;
    border-radius: 5px;
}

.topics__header h2 {
    padding: 30px 0;
    text-transform: uppercase;
    color: #3b3b3b;
    letter-spacing: .7px;
}

.topics__list {
    list-style: none;
}

.topics__list li a {
    display: flex;
    justify-content: space-between;
    color: #000;
    transition: all 0.3s ease-in-out;
    margin-bottom: 10px;
    border-bottom: 1px solid #DBDBDB;
}

.topics__list li a.active,
.topics__list li a:hover {
    color: #BB00FF;
}

.topics__list li a span {
    padding: 5px;
    background: #F0F0F0;
    border-radius: 3px;
    font-size: 13px;
    letter-spacing: 1px;
    min-width:30px;
    text-align:center;
    height:50%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~FEED-COMPONENT~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.roomListRoom {
    margin-bottom: 25px;
    background: #FFF;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
}

.roomListRoom__header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
}

.roomListRoom__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.roomListRoom__author {
    display: flex;
    align-items: center;
    gap: 10px;
    letter-spacing: .4px;
    line-height: 1.2;
    font-weight: 600;
    font-size: 14px;
}

.roomListRoom__author span{
    font-weight: 500;
}

.roomListRoom__details {
    display: flex;
    flex-direction: column;
}

.avatar--small img {
    width: 40px;
    height: 40px;
}

.avatar--small:after {
    width: 8px;
    height: 8px;
    bottom: 0px;
    right: -2px;
}

.roomListRoom__actions span {
    font-size: 12px;
    color: #696969;
    font-weight: 500;
}

.roomListRoom__actions svg {
    width: 1.6rem;
    height: 1.6rem;
}

.roomListRoom__topic {
    margin-left: auto;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 12px;
    color: #696969;
    background: #F0F0F0;
}

.roomListRoom__content {
    margin: 5px 0 0 0;
}

.roomListRoom__content img {
    max-width: 700px;
    max-height: 300px;
}

.roomListRoom__content a {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 15px;
    font-weight: 900;
    color: #BB00FF;
    transition: 0.3s;
}

.roomListRoom__content a:hover {
    color: #000;
    font-weight: 900;
}

.roomListRoom__content p {
    font-size: 14px;
}

.comment-counters-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    border-top: 1px solid #DBDBDB;
    padding: 5px 0;
}

.comment-counter img {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    margin-top: 3px;
    fill: #696969;
}

.comment-counter {
    display: flex;
}

.comment-counter .comment-info {
    color: #696969;
    font-size: 13px;
}

.participants-avatars {
    display: flex;
    align-items: center;
}

.avatar--participant img{
    width: 32px;
    height: 32px;
    margin: 0 -10px 0 0;
}

.more-participants {
    font-size: 12px;
    color: #696969;
    margin: 0 0 0 15px;
}

.roomListRoom .container {
    border-top: 1px solid #DBDBDB;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
}

.like-topic-container {
    width: 50%;
    text-align: center;
    color: black;
    font-size: 14px;
}

.envelope-link {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: inherit;
    transition: 0.3s;
    border-radius: 5px;
}

.envelope-link i{
    margin-right: 3px;
}

.envelope-link:hover {
    background: #F0F0F0;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ACTIVITY-COMPONENT~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.activities {
    overflow: hidden;
}

.activities__header h2 {
    padding: 30px 0;
    text-transform: uppercase;
    color: #3b3b3b;
    letter-spacing: .7px;
}

.activities__box {
    margin: 0.5rem;
    padding: 1rem;
    border: 1px solid #A9A9A9;
    border-radius: 5px;
    margin-bottom: 2rem;
    background: #F5F5F5;
}

.activities__boxHeader p {
    font-size: 1.4rem;
    line-height: 1.3;
}

.activities__boxHeader p span {
    color: #A8A7A7;
    font-size: 1.2rem;
    display: block;
}

.activities__boxContent {
    margin-left: 4.2rem;
}

.activities__boxContent {
    font-size: 1.4rem;
}

.activities__boxContent a:hover {
    text-decoration: underline;
}

.activities__boxRoomContent {
    background: #E3E3E3;
    padding: 1rem;
    border-radius: 5px;
    margin-top: 1rem;
    margin-left: -4.2rem;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~BUTTONS~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.btn {
    background-color: transparent;
    border: none;
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
    padding: 1rem 2rem;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
    font-weight: 500;
}

.btn--link {
    border-radius: 0;
    padding: 5px 10px;
    border-radius: 3px;
    color: #000;
    border: 1px solid #000;
}

.btn--link:hover {
    opacity: 0.6;
}

.btn--main {
    background: #FFF;
    color: #000;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.btn:hover {
    opacity: 0.6;
}

.btn > svg {
    fill: currentColor;
    width: 16px;
    height: 16px;
}

.btn--pill {
    border-radius: 5px;
    font-size: 14px;
    padding: 5px 15px;
    color: #000;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~SCROLL~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.scroll::-webkit-scrollbar {
    width: 7px;
}

.scroll::-webkit-scrollbar-thumb:vertical {
    border-radius: 3px;
    background: #A9A9A9;
}

.roomList__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.4rem;
}

.roomList__header h2 {
    text-transform: uppercase;
    font-weight: 900;
    color: #000;
    letter-spacing: 1px;
    font-size:16px;
}

.roomList__header p {
    font-weight: 500;
    color: #000;
    font-size:14px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ROOM~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


.layout--2 > .container > div:first-child {
    flex-basis: 73%;
}

.layout--2 > .container > div:last-child {
    flex-basis: 25%;
}

.room{
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
}

.room__top,
.participants__top {
    background: #E3E3E3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 10px 10px;
    position: relative;
}

.room__top svg,
.thread__top svg,
.room__topLeft svg{
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.room__box {
    padding: 0 20px;
}

.room__header {
    width: 100%;
    background: #FFF;
    z-index: 999;
    padding: 20px 0;
}

.room__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.room__info h3 {
    font-size: 25px;
    color: #BB00FF;
}

.room__info span{
    color: #696969;
    font-size: 14px;
}

.room__hosted p {
    text-transform: uppercase;
    color: #696969;
    font-size: 12px;
    margin-top: 10px;
}

.room__author {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin: 5px 0 20px 0;
}

.room__author:hover {
    text-decoration: underline;
}

.room__details {
    overflow-wrap: break-word;
    max-width: 100%;
    max-height: 200px;
    overflow-y: auto;
    padding: 0 10px;
    border-radius:5px;
    border: 2px solid #DBDBDB;
    font-size: 1.7rem;
    background: #F5F5F5;
}

.room-image img{
    max-width: 700px;
    max-height: 500px;
}

.likes-room {
    display: flex;
    align-items: center;
}

.likes-info {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.likes-info img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.likes-room-count{
    color: #696969;
}

.modal-container {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background: #FFF;
    margin: 15% auto;
    padding: 20px;
    width: 70%;
    overflow-y: auto;
    border: 3px solid #000;
    border-radius: 7px;
}

.close {
    float: right;
    font-size: 40px;
    color: #696969;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.liked-user {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.modal-content a{
    color: #BB00FF;
    margin-left:10px;
}

.modal-content a:hover {
    text-decoration: underline;
}

.room__topics {
    padding: 0.5rem 1.5rem;
    background: #F0F0F0;
    color: #696969;
    display: inline-block;
    border-radius: 7px;
}

.room-info{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.room-info-detail {
    width: 50%;
    text-align: center;
    color: black;
}

.like-room-button span{
    color: #000;
}

.room-info-detail-button {
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: inherit;
    transition: background-color 0.3s ease-in-out;
    border-radius: 5px;
}

.room-info-detail-button:hover {
    background-color: #222440;
}









.room-info-detail {
    width: 50%;
    text-align: center;
    font-size: 1.6rem;
}

.participants__top {
    text-transform: uppercase;
    font-weight: 500;
    color: #000;
}

.room,
.participants {
    margin-top: 90px;
    margin-bottom: 10px;
    background: #FFF;
    border-radius: 0.7rem;
    overflow: hidden;
    position: relative;
}

@media screen and (max-width: 900px) {
    .participants {
        display: none;
    }

    .layout--2 > .container > div:first-child {
        flex-basis: 96%;
        margin-left: auto;
        margin-right: auto;
    }

    .create-room{
        flex-basis: 97%;
        margin-left: auto;
        margin-right: auto;
    }
}


@media screen and (max-width: 500px) {
    .room__header {
        top: 4.3rem;
        padding-right: 2rem;
    }
}

@media (max-width: 768px) {
    .room__info {
        flex-direction: column;
        align-items: flex-start;
    }
}

.room__conversation {
    margin-top: 1rem;
    margin-bottom: 4rem;
    height: 64%;
}

.threads h3 {
    text-transform: uppercase;
    font-weight: 500;
    color: #000;
}

.threads {
    background: #F0F0F0;
    border-radius: 0.7rem;
    overflow-y: auto;
    height: 100%;
    margin-top: 1vh;
    padding: 0 2rem 2rem 2rem;
}

.thread {
    border-left: 2px solid #696969;
    padding-left: 1rem;
    margin: 2rem 0;
    padding: 2rem;
}

.thread__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.thread__top svg {
    fill: #000;
}

.thread__author {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.4rem;
}

.thread__authorInfo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.thread__details {
    font-size: 1.5rem;
    margin-top: 2.5rem;
    word-wrap: break-word;
}

.thread__delete {
    display: flex;
    flex-direction: column;
}

.room__message {
    padding: 2rem;
    position: absolute;
    z-index: 111;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent;
}

.input-container {
    display: flex;
    justify-content: space-between;
}

.left-side {
    flex: 1;
    scroll-behavior: smooth;
}

.right-side {
    resize: none;
    background-color: #DBDBDB;
    color: #000;
    border: none;
    outline: none;
    height: 4.5rem;
    padding-top: .4rem;
    padding-right: .8rem;
    padding-left: .6rem;
    font-size: 1.4rem;
    font-weight: 500;
    border-bottom-right-radius: 7px;
}

#message-input {
    resize: none;
    background-color: #DBDBDB;
    color: #000;
    border: none;
    outline: none;
    height: 4.5rem;
    width: 100%;
    padding: 1.2rem;
    font-size: 1.7rem;
    font-weight: 500;
    position: relative;
    border-bottom-left-radius: 7px;
}

#message-input::placeholder {
    color: #696969;
}

.room__message > form > input::placeholder {
    color: #000;
}

.transparent-button {
    background: transparent;
    border: none;
    box-shadow: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
    padding-left:7px;
}

.file-upload-button{
    background: transparent;
    border: none;
    box-shadow: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
}

.participants{
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
}

.participants__top span {
    color: #BB00FF;
    font-size: 1.3rem;
    text-transform: none;
}

.participants__top {
    justify-content: flex-start;
    gap: 0.5rem;
}

.participants__list {
    padding: 2rem;
    height: 84vh;
    overflow-y: scroll;
    padding-bottom: 0;
}

.participant {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.participant p {
    color: var(--color-light-gray);
    line-height: 1.2;
}

.participant span {
    display: block;
    font-weight: 500;
    color: var(--color-main);
    font-weight: 1.4rem;
}

.errorlist{
    list-style-type: none;
    color: red;
    padding: 0;
    margin: 0;
}

ul.messages {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.messages li {
    margin-bottom: 10px;
    padding: 0;
    color: red;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~CREATE/UPDATE-ROOM~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.create-room.layout, .auth.layout {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.delete-item.layout {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.layout__box {
    width: 100%;
    max-width: 50rem;
    margin: 0 auto;
    background: #FFF;
    border-radius: 1rem;
    overflow: hidden;
    justify-content: center;
    margin-top: 100px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

.layout__boxHeader {
    display: flex;
    padding: 5px;
    background: #F0F0F0;
    font-size: 18px;
}

.layout__boxTitle {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    text-align: center;
}

.layout__boxTitle h3 {
    text-transform: uppercase;
    font-weight: 500;
    color: #000;
}

.layout__boxTitle svg {
    width: 15px;
    height: 15px;
    fill: #000;
}

.layout__body {
    margin: 20px 30px;
}

.layout__body .form__action .btn{
    background: #F0F0F0;
}

.form__group {
    margin-bottom: 20px;
    width: 100%;
}

.form__group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.form__group input,
.form__group textarea,
.form__group select {
    background: transparent;
    border: 1px solid #A9A9A9;
    padding: 1rem;
    border-radius: 3px;
    width: 100%;
    color: #000;
    font-weight: 500;
    outline: none;
}

.form__group input:focus,
.form__group textarea:focus {
    border-color: #000;
}

.form__group textarea {
    background: transparent;
    height: 10rem;
    resize: none;
}

.form__group select {
    color: #696969;
    font-weight: 400;
}

.form__group select option {
    background: #F0F0F0;
    color: #696969;
    padding: 0 10rem;
}

.auth__tagline {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 1.8rem;
}

.auth .layout__boxHeader {
    text-align: center;
    justify-content: center;
}

.auth__actions {
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.auth__action{
    text-align: center;
    margin-top: 3rem;
}

@media (max-width: 768px) {
    .auth__actions {
        grid-template-columns: 1fr;
        gap: 5px;
    }
    .auth__action {
        margin-top: 1.5rem;
    }
}

.password-container {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
}

.toggle-password svg {
    fill: #696969;
}

.toggle-password svg:hover {
    fill: #000;
    transition: 0.2s ease;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~PROFILE~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.profile {
    margin-bottom: 3rem;
}

.profile__avatar {
    text-align: center;
}

.avatar.avatar--large img {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.avatar.avatar--large:after {
    width: 10px;
    height: 10px;
    bottom: 5px;
    right: 20px;
}

.profile__info {
    text-align: center;
}

.profile__info p {
    color: #000000;
    font-weight: 900;
    margin: 0 0 30px 0;
    font-size: 20px;
}

.profile__info a {
    background-color: #FFF;
    font-size: 15px;
}

.profile__about {
    margin-top: 2rem;
    color: #222440;
    font-weight:900;
}

.profile__about h3 {
    text-transform: uppercase;
    color: var(--color-dark-light);
    margin-bottom: 0.5rem;
    margin-top: 4.5rem;
}

.profile-page .roomList__header {
    margin-bottom: 1.5rem;
}

.profile-page .roomList__header h2 {
    color: var(--color-dark-light);
}





/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~TUTORING-ZONE~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.background-pattern {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 0 20px;
}

.registration-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.teacher_register, .student_register {
    flex: 1;
    padding: 20px;
    margin: 10px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #FFF;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.teacher_logo h2, .student_logo h2{
    margin-bottom: 20px;
    font-size: 25px;
    color: #000;
    text-transform: uppercase;
}

.normal-text {
    font-size: 16px;
    line-height: 1.5;
    border-radius: 10px;
    color: #333;
    text-align:left;
}

.mobile-text {
    display: none;
}

.home-info {
    margin-top: 20px;
}

h2 span {
    color: #ffcc00;
}
