* {
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    font-size: inherit;
}

html {
    font-size: 56.25%;
}

@media only screen and (min-width: 1100px) {
    html {
        font-size: 62.5%;
    }
}

@media only screen and (min-width: 2100px) {
    html {
        font-size: 75%;
    }
}

body {
    line-height: 1.6;
    font-weight: 400;
    font-size: 15px;
    color: #000;
    background: #F5F5F5;
    min-height: 100vh;
}

img {
    width: 100%;
}

a {
    display: inline-block;
    color: #BB00FF;
    text-decoration: none;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~KNOWLEDGE-ZONE~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~HEADER~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.header {
    padding: 5px;
    background: #FFF;
    position: fixed;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.1);
    top: 0;
}

.container {
    width: 100%;
    padding: 0 20px;
    margin: auto;
}

.header > .container {
    display: flex;
    gap: 5%;
}

.header__logo,
.header__user {
    display: flex;
    gap: 7px;
    align-items: center;
}

.header__logo > img {
    width: 50px;
    height: auto;
}

.header__logo > h1 {
    font-size: 25px;
    color: #000;
}

.header__search {
    position: relative;
}

.header__search > label {
    background: #F0F0F0;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
}

.header__search svg {
    fill: #636363;
    width: 20px;
    height: auto;
    margin-left: 5px;
    cursor: pointer;
}

.header__search input {
    width: 250px;
    background: transparent;
    border: none;
    outline: none;
    color: #000;
    font-size: 15px;
}

.mobile-submit {
    border: none;
    position: absolute;
    right: 15px;
    top: 55%;
    padding: 0;
    transform: translateY(-45%);
}

.mobile-submit svg {
    fill: #696969;
    width: 20px;
    height: 20px;
}

@media screen and (max-width: 1100px) {
    .header__search input {
        width: 180px;
    }

    .header > .container {
        gap: 30px;
    }
}

@media screen and (max-width: 900px) {
    .container {
        padding: 0 5px;
    }

    .header__search {
        display: none;
    }

    .header__logo > h1{
        display:none;
    }
}

.header__menu {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.header__menu img {
    height: 40px;
}

.header__menu a {
    display: flex;
    gap: 7px;
    align-items: center;
    font-weight: 500;
    text-decoration: none;
    color: #000;
    margin: 0;
}

.header__menu a:hover {
    text-decoration: underline;
}

.header__menu p {
    line-height: 1.2;
}

.header__menu span {
    color: #BB00FF;
    font-weight: 600;
    font-size: 14px;
    display: block;
}

.header__menu svg {
    width: 18px;
    height: 18px;
    fill: #000;
}

.dropdown-button {
    background: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.dropdown-button:hover svg {
    fill: #BB00FF;
}

.avatar {
    position: relative;
    display: inline-block;
    border-radius: 50%;
}

.avatar img {
    display: block;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.avatar::after {
    content: "";
    display: block;
    position: absolute;
    background: #FF0000;
    z-index: 111;
    border-radius: 50%;
    border: 2px solid #FFF;
}

.avatar.active::after {
    background-color: #00FF00;
}

.avatar.avatar--medium img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #333;
}

.avatar.avatar--medium:after {
    width: 7px;
    height: 7px;
    bottom: 0px;
    right: -2px;
}

.dropdown-menu {
    z-index: 111;
    position: absolute;
    top: 55px;
    background: #FFF;
    border-radius: 5px;
    overflow: hidden;
    display: none;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.dropdown-menu.show {
    display: block;
}

.dropdown-menu a {
    padding: 10px 20px;
    display: block;
    color: #000 !important;
    font-size: 14px;
}

.dropdown-menu a:hover {
    background: #F0F0F0;
    transition: 0.3s;
    text-decoration: none;
}

.dropdown-menu > a:not(:last-child) {
    border-bottom: 1px solid #DBDBDB;
}

.dropdown-menu a svg {
    fill: #696969;
    margin-right:5px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~DASHBOARD~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.layout > .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.layout--3 > .container > div:first-child {
    margin-top: 60px;
    width: 18%;
    position: fixed;
    overflow: auto;
    height: 92%;
    padding: 0 10px 0 0;
    font-size: 16px;
}

.layout--3 > .container > div:nth-child(2) {
    margin-top: 70px;
    flex: 1;
    margin-left: 24%;
    margin-right: 24%;
    overflow: auto;
    padding: 20px 10px;
}

.layout--3 > .container > div:last-child {
    margin-top: 60px;
    width: 20%;
    position: fixed;
    overflow: auto;
    top: 0;
    right: 0;
    bottom: 0;
    height: 92%;
    padding: 0 10px 0 0;
    font-size: 16px;
}

@media screen and (max-width: 1300px) {
    .layout--3 > .container > div:first-child {
        width: 20%;
    }

    .layout--3 > .container > div:nth-child(2) {
        margin-left: 24%;
        margin-right: 24%;
    }

    .layout--3 > .container > div:nth-child(3) {
        width: 20%;
    }
}

@media screen and (max-width: 1100px) {
    .layout--3 > .container > div:first-child {
        width: 25%;
    }

    .layout--3 > .container > div:nth-child(2) {
        margin-left: 28%;
        margin-right: 28%;
    }

    .layout--3 > .container > div:nth-child(3) {
        width: 25%;
    }
}

@media screen and (max-width: 1060px) {
    .activities,
    .topics,
    .courseList{
        display: none;
    }

    .layout--3 > .container > div:nth-child(2) {
        margin-left: 5px;
        margin-right: 5px;
    }
}

@media (max-width: 768px) {
    .layout--3 > .container > div:nth-child(2) {
        margin-left: 0;
        margin-right: 0;
    }
}

.mobile-menu {
    margin-bottom: 25px;
}

.mobile-menu label{
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.1);
}

.mobile-menuItems {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

@media screen and (min-width: 901px) {
    .mobile-menu {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .mobile-menu .header__search {
        display: block;
        margin-bottom: 15px;
    }
}

.roomList__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.roomList__header h2 {
    text-transform: uppercase;
    font-weight: 900;
    color: #000;
    letter-spacing: 1px;
    font-size: 14px;
}

.roomList__header p {
    font-size: 13px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~TOPICS-COMPONENT~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.topics a{
    margin: 0 0 25px 0;
}

.topics__list a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    font-size: 14px;
    color: #000;
    transition: all 0.2s ease-in-out;
    margin-bottom: 8px;
}

.topics__list a div {
    display: flex;
    align-items: center;
}

.topics__list a img {
    width: 36px;
    height: 36px;
    margin-right: 10px;
}

.topics__list a:hover {
    background: #E8E8E8;
    border-radius: 5px;
}

.topics__header h2, .activities__header h2 {
    padding: 30px 0;
    text-transform: uppercase;
    color: #3B3B3B;
    letter-spacing: .7px;
}

.topics__list {
    list-style: none;
}

.topics__list li a.active,
.topics__list li a:hover {
    color: #BB00FF;
}

.topics__list li a span {
    padding: 5px;
    background: #F0F0F0;
    border-radius: 3px;
    font-size: 13px;
    letter-spacing: 1px;
    min-width: 30px;
    text-align: center;
    height: 50%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~FEED-COMPONENT~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.roomListRoom {
    margin-bottom: 25px;
    background: #FFF;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
}

.roomListRoom__header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
}

.roomListRoom__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.roomListRoom__author {
    display: flex;
    align-items: center;
    gap: 5px;
    letter-spacing: .4px;
    line-height: 1.2;
    font-weight: 600;
    font-size: 14px;
    font-weight: 500;
}

.roomListRoom__details {
    display: flex;
    flex-direction: column;
}

.username:hover {
    text-decoration: underline;
}

.avatar--small img {
    width: 40px;
    height: 40px;
    border: 1px solid #333;
}

.avatar--small:after {
    width: 8px;
    height: 8px;
    bottom: 0px;
    right: -2px;
}

.roomListRoom__actions span {
    font-size: 12px;
    color: #696969;
    font-weight: 500;
}

.roomListRoom__topic {
    margin-left: auto;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 12px;
    color: #696969;
    background: #F0F0F0;
    border: 1px solid #DBDBDB;
}

.roomListRoom__content {
    margin: 15px 0;
}

.roomListRoom__content img {
    max-width: 700px;
    max-height: 300px;
}

.roomListRoom__content a {
    font-size: 2rem;
    font-weight: 900;
    color: #BB00FF;
    transition: 0.3s;
}

.roomListRoom__content a:hover {
    color: #000;
    font-weight: 900;
}

.roomListRoom__content p {
    font-size: 14px;
    margin: 10px 0 0 0;
}

.roomListRoom .container {
    border-top: 1px solid #DBDBDB;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
}

.like-topic-container {
    width: 50%;
    text-align: center;
}

.envelope-link {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: #696969;
    transition: 0.3s;
    border-radius: 5px;
    font-size: 14px;
}

.envelope-link i{
    margin-right: 3px;
}

.envelope-link:hover {
    background: #F0F0F0;
}

.participants-avatars {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.avatar--participant img{
    width: 32px;
    height: 32px;
    margin: 0 -10px 0 0;
}

.more-participants {
    font-size: 12px;
    color: #696969;
    margin: 5px 0 0 15px;
}

.comment-counters-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    border-top: 1px solid #DBDBDB;
    padding: 5px 0;
}

.comment-counter img {
    width: 15px;
    height: 15px;
    margin: 3px 5px 0 0;
}

.comment-counter {
    display: flex;
}

.comment-counter .comment-info {
    color: #696969;
    font-size: 13px;
}

@media screen and (max-width:600px) {
    .envelope-link {
        padding: 5px 0;
        font-size: 11px;
    }
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ACTIVITY-COMPONENT~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.activities {
    overflow: hidden;
}

.activities__box {
    padding: 10px;
    border: 1px solid #A9A9A9;
    border-radius: 5px;
    margin-bottom: 20px;
    background: #F5F5F5;
}

.activities__boxHeader p, .user-info p {
    font-size: 14px;
    line-height: 1.3;
}

.activities__boxHeader p span, .user-info span {
    color: #A8A7A7;
    font-size: 12px;
    display: block;
}

.activities__boxContent {
    font-size: 14px;
    margin: 15px 0 0 0;
}

.activities__boxContent a:hover{
    text-decoration: underline;
}

.activities__boxRoomContent {
    background: #E8E8E8;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
    max-width: 100%;
    word-wrap: break-word;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~BUTTONS~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.btn {
    background-color: transparent;
    border: none;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
    padding: 9px 18px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
}

.btn--link {
    border-radius: 0;
    padding: 5px 10px;
    border-radius: 3px;
    color: #000;
    border: 1px solid #000;
}

.btn--link:hover {
    opacity: 0.6;
}

.btn--main {
    background: #FFF;
    color: #000;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.btn:hover {
    opacity: 0.6;
}

.btn > svg {
    fill: currentColor;
    width: 16px;
    height: 16px;
}

.btn--pill {
    border-radius: 5px;
    font-size: 14px;
    padding: 5px 15px;
    color: #000;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~SCROLL~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.scroll::-webkit-scrollbar {
    width: 7px;
}

.scroll::-webkit-scrollbar-thumb:vertical {
    background: #D3D3D3;
    border-radius: 5px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ROOM~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.layout--2 > .container > div:first-child {
    flex-basis: 73%;
}

.layout--2 > .container > div:last-child {
    flex-basis: 25%;
}

.room{
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
}

.room__top,
.participants__top {
    background: #E3E3E3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 5px 10px;
    position: relative;
}

.room__top svg,
.thread__top svg,
.room__topLeft svg{
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.room__box {
    padding: 0 15px;
}

.room__header {
    width: 100%;
    background: #FFF;
    z-index: 999;
    padding: 20px 0 0 0;
}

.room__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.room__info h1 {
    font-size: 25px;
    color: #BB00FF;
    margin: 0 20px 0 0;
}

.room__info span{
    color: #696969;
    font-size: 14px;
    white-space: nowrap;
}

.room__hosted p {
    text-transform: uppercase;
    color: #696969;
    font-size: 12px;
    margin-top: 15px;
}

.room__author {
    display: flex;
    gap: 5px;
    align-items: center;
    margin: 2px 0 0 0;
}

.room__author:hover {
    text-decoration: underline;
}

.room__details {
    overflow-wrap: break-word;
    max-width: 100%;
    max-height: 200px;
    overflow-y: auto;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #DBDBDB;
    font-size: 15px;
    background: #F5F5F5;
    margin: 25px 0 15px 0;
}

.room-image img {
    max-width: 400px;
    border-radius: 5px;
}

.likes-room {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 15px 0 5px 0;
    border-bottom: 1px solid #DBDBDB;
}

.likes-info {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.likes-info img {
    width: 20px;
    height: 20px;
}

.likes-room-count{
    color: #696969;
    margin: 3px 0 0 5px;
}

.room__topics {
    padding: 5px 15px;
    background: #F0F0F0;
    color: #696969;
    display: inline-block;
    border-radius: 5px;
    font-size: 12px;
    border: 1px solid #DBDBDB;
}

.room-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #DBDBDB;
}

.room-info-button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    width: 50%;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    color: inherit;
    transition: background-color 0.3s ease-in-out;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    box-sizing: border-box;
    font-weight: bold;
}

.room-info-button i {
    margin-right: 5px;
}

.room-info-button:hover {
    background: #F0F0F0;
    color: #000;
}

@media only screen and (max-width: 768px) {
    .room__info h1 {
        font-size: 22px;
        margin: 0;
    }
}

.room__conversation {
    margin: 10px 0 40px 0;
}

.threads {
    overflow-y: auto;
    height: 100%;
    padding: 0 0 80px 0;
}

.thread__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.thread__top svg {
    fill: #696969;
}

.thread__delete {
    display: flex;
    flex-direction: column;
}

.thread__author {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}

.thread__authorInfo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.thread__authorName {
    display: flex;
    flex-direction: column;
}

.thread__date {
    font-size: 12px;
    color: #696969;
}

.likes-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 15px;
    font-size: 13px;
    border-top: 1px solid #DBDBDB;
    padding: 5px;
}

.like-button {
    cursor: pointer;
    border: none;
    background: transparent;
    font-weight: bold;
}

.like-button:hover {
    color: #BB00FF;
}

.likes-count {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.thread {
    margin: 15px 10px;
    padding: 10px;
    background: #F5F5F5;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .thread {
        margin: 10px 5px;
    }
}

.thread__details {
    font-size: 15px;
    padding: 10px 10px 0 78px;
    word-wrap: break-word;
}

.thread__details img{
    max-width: 400px;
    height: auto;
}

.room__message {
    padding: 15px 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent;
    z-index: 111;
}

@media (max-width: 768px) {
    .room__message {
        padding: 10px;
    }
}

@media (max-width: 768px) {
    .room__message {
        padding: 10px;
    }
}

.input-container {
    display: flex;
    align-items: flex-start;
}

.avatar-container {
    margin-right: 10px;
}

.user-avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
}

.input-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
    background: #FFF;
    padding: 10px;
}

.left-side {
    width: 100%;
}

#message-input {
    background: #F5F5F5;
    color: #000;
    border: none;
    outline: none;
    width: 100%;
    padding: 12px;
    font-size: 15px;
    border-radius: 10px;
}

#message-input::placeholder {
    color: #696969;
}

.bottom-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 3px;
}

.file-upload-controls {
    display: flex;
    align-items: center;
    gap: 10px;
}

.file-upload-button,
.transparent-button {
    background: transparent;
    border: none;
    box-shadow: none;
    font-size: 20px;
    cursor: pointer;
    color: #A9A9A9;
}

.send-button-container {
    margin-left: auto;
}

.room,
.participants {
    margin: 90px 0 20px 0;
    background: #FFF;
    border-radius: 7px;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.participants__top {
    text-transform: uppercase;
    font-weight: 500;
}

.participants__top span {
    color: #BB00FF;
    font-size: 13px;
    text-transform: none;
}

.participants__list {
    padding: 20px;
    height: 84vh;
    overflow-y: scroll;
    padding-bottom: 0;
}

.participant {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.participant p {
    color: #000;
    line-height: 1.2;
}

.participant span {
    display: block;
    color: #BB00FF;
}

@media screen and (max-width: 900px) {
    .participants {
        display: none;
    }

    .layout--2 > .container > div:first-child {
        flex-basis: 96%;
        margin-left: auto;
        margin-right: auto;
    }

    .create-room{
        flex-basis: 97%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 768px) {
    .room__info {
        flex-direction: column;
        align-items: flex-start;
    }
}

.modal-container {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.2);
}

.modal-content {
    background: #FFF;
    margin: 15% auto;
    padding: 20px;
    width: 70%;
    overflow-y: auto;
    border: 3px solid #000;
    border-radius: 7px;
}

.close {
    float: right;
    font-size: 40px;
    color: #696969;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.liked-user {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.modal-content a{
    color: #BB00FF;
    margin-left:10px;
}

.modal-content a:hover {
    text-decoration: underline;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~CREATE/UPDATE-ROOM~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.create-room.layout, .auth.layout {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    padding: 0 5px;
}

.delete-item.layout {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.layout__box {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    background: #FFF;
    border-radius: 10px;
    overflow: hidden;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

.layout__boxHeader {
    display: flex;
    padding: 5px;
    background: #F0F0F0;
    font-size: 18px;
}

.layout__boxTitle {
    display: flex;
    gap: 10px;
    align-items: center;
    text-align: center;
}

.layout__boxTitle h3 {
    text-transform: uppercase;
    font-weight: 500;
    color: #000;
}

.layout__boxTitle svg {
    width: 15px;
    height: 15px;
    fill: #000;
}

.layout__body {
    margin: 20px;
}

.form__action {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.layout__body .form__action .btn{
    background: #F0F0F0;
    border: 1px solid #DBDBDB;
}

.form__group {
    margin-bottom: 20px;
    width: 100%;
}

.form__group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.form__group input,
.form__group textarea,
.form__group select {
    background: transparent;
    border: 1px solid #A9A9A9;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    color: #000;
    outline: none;
}

.form__group input:focus,
.form__group textarea:focus {
    border-color: #000;
}

.form__group textarea {
    background: transparent;
    height: 100px;
    resize: none;
}

.form__group select {
    color: #696969;
}

.form__group select option {
    background: #F0F0F0;
    color: #696969;
    padding: 0 10px;
}

.auth__tagline {
    text-align: center;
    margin-bottom: 30px;
    font-size: 18px;
}

.auth .layout__boxHeader {
    text-align: center;
    justify-content: center;
}

.auth__actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.auth__action{
    text-align: center;
    margin-top: 25px;
}

@media (max-width: 768px) {
    .auth__actions {
        grid-template-columns: 1fr;
        gap: 5px;
    }
    .auth__action {
        margin-top: 15px;
    }
}

.password-container {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
}

.toggle-password svg {
    fill: #696969;
}

.toggle-password svg:hover {
    fill: #000;
    transition: 0.2s ease;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~PROFILE~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.profile {
    margin-bottom: 30px;
}

.profile__avatar {
    text-align: center;
}

.avatar.avatar--large img {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid #333;
}

.avatar.avatar--large:after {
    width: 10px;
    height: 10px;
    bottom: 5px;
    right: 20px;
}

.profile__info {
    text-align: center;
}

.profile__info p {
    color: #000;
    font-weight: 900;
    margin: 0 0 30px 0;
    font-size: 20px;
}

.profile__info a {
    background: #FFF;
}

.profile__about {
    margin-top: 20px;
    color: #222440;
    font-weight: 900;
}

.profile__about h3 {
    text-transform: uppercase;
    color: #808080;
    margin: 40px 0 5px 0;
}

.profile-page .roomList__header h2 {
    color: #808080;
}





/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~TUTORING-ZONE~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~LESSONS-HOME~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 0 20px;
}

.registration-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 40px;
}

.teacher_register, .student_register {
    flex: 1;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #FFF;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.teacher_register a, .student_register a {
    text-transform: uppercase;
    padding: 7px 14px;
}

.teacher_logo h2, .student_logo h2{
    font-size: 25px;
    color: #000;
    text-transform: uppercase;
}

.normal-text {
    font-size: 16px;
    line-height: 1.5;
    border-radius: 10px;
    color: #333;
    text-align: left;
    padding: 20px 0;
}

.mobile-text {
    display: none;
}

.home-info {
    text-transform: uppercase;
    color: #333;
    border: none;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    background: #FFF;
    width: 100%;
    padding: 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    font-size: 16px;
}

.home-info h3 span {
    color: #FF0000;
}


@media (max-width: 900px) {
    .registration-container {
        flex-direction: column;
        align-items: center;
    }

    .student_register .normal-text, .teacher_register .normal-text {
        display: none;
    }

    .student_register .mobile-text, .teacher_register .mobile-text {
        display: block;
        font-size: 14px;
    }

    .registration-container h2 {
        font-size: 18px;
    }

    .mobile-text {
        padding: 10px 0;
        font-size: 14px;
        line-height: 1.4;
    }

    .home-info {
        font-size: 14px;
        padding: 10px;
        text-align: center;
    }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~NEW-TEACHER/STUDENT~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

input[type="checkbox"], input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #000;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    background-color: #FFF;
    vertical-align: middle;
}

input[type="checkbox"] {
    border-radius: 2px;
}

input[type="radio"] {
    border-radius: 50%;
}

input[type="checkbox"]:checked, input[type="radio"]:checked {
    background-color: #007BFF;
    color: #FFF;
    border: 1px solid #007BFF;
}

.custom-checkbox {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-top: 10px;
}

.custom-checkbox input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.custom-checkbox input:checked ~ .checkmark::before {
    content: "\2714";
    display: block;
    text-align: center;
    line-height: 20px;
    font-size: 18px;
    color: #00FF00;
    font-weight: 900;
}

.center-button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~USER-CREATOR/MIGRATE-USER~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.create-account-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 20px;
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
}

.create-account {
    width: 100%;
    max-width: 1400px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.1);
    background: #FFF;
    padding: 30px;
}

.create-account-logo {
    text-align: center;
    margin: 0 0 20px 0;
    font-size: 30px;
    color: #BB00FF;
    text-transform: uppercase;
}

.create-account p {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.create-account img {
    height: 25rem;
    width: 25rem;
    margin: 0 0 20px 0;
}

@media (max-width: 676px) {
    .create-account-container {
        padding: 0 10px;
    }

    .create-account {
        padding: 10px;
    }

    .create-account-logo {
        font-size: 20px;
    }

    .create-account p {
        font-size: 16px;
        text-align: center;
    }

    .create-account img {
        display: none;
    }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~TEACHER-DASHBOARD~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.no-courses-info {
    background-color: #fff;
    color: #000;
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    width: 100%;
    margin: 20px auto;
    margin-top: 50px;
}

.welcome-title {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #BB00FF;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.35);
}

.no-courses-info {
    text-align: center;
}

.no-courses-info p {
    margin-top: 50px;
    margin-bottom: 60px;
    font-weight: 900;
    text-align: left;
    font-size: 17px;
}

.info-list {
    list-style: none;
    padding-left: 0;
}

.info-list li {
    text-align: left;
    margin: 35px;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.info-list li img {
    max-width: 19%;
    max-height: auto;
    margin-right: 10px;
    border-radius: 7px;
}

@media (max-width: 768px) {
    .welcome-title {
        font-size: 30px;
    }

    .info-list li img {
        max-width: 75%;
        margin-right: 0;
    }

    .info-list li span {
        margin-top: 10px;
    }

    .no-courses-info p {
        font-size: 15px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .info-list li {
        flex-direction: column;
        text-align: center;
        margin-bottom: 20px;
        margin-top: 20px;
    }
}

.expired-lesson {
    background: #D3D3D3;
}

.expired-lesson:hover {
    background: #C0C0C0;
}

.joinButton, .inactiveButton, .resetAmountButton, .feedback{
    font-weight:900;
    border: 1px solid #000;
    padding:3px 10px;
    border-radius: 7px;
    background: #E8ADFE;
    font-size: 16px;
    color: #000;
}

.inactiveButton{
    background: #FF0000;
    display: inline-block;
    color: #000;
}

.resetAmountButton{
    background: #FFF;
    color: #000;
}

.feedback {
    background: #D3D3D3;
    color: #000;
}

.pulse-animation {
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
        background: #E8ADFE;
    }
    100% {
        transform: scale(1);
    }
}

.roomListRoom__content .lesson-content a{
    font-weight: 500;
    font-size: 17px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~LESSON-PROFILE~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.course-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.course-card {
    width: 300px;
    margin: 15px;
    background-color: #fff;
    border: 1px solid #000000;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    transition: transform 0.3s, box-shadow 0.3s;
    transform: perspective(1000px) rotateX(0deg);
    border-radius: 7px;
    height: 300px;
    overflow: hidden;
}

.course-card:hover {
    transform: perspective(1000px) rotateX(15deg);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
}

.course-card h3 {
    font-size: 19px;
    margin-top: 10px;
    color: #333;
    width: 280px;
    text-decoration: none;
    overflow-wrap: break-word;
}

.course-card p {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #777;
}

.course-card a {
    padding: 5px;
    margin-top:60px;
}

.course-card a:hover {
    text-decoration: underline #000000;
}

.course-card ul {
    list-style: none;
    padding-left: 0;
}

.course-card li {
    font-size: 15px;
    color: #777;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
}

.lesson-count {
    position: absolute;
    top: 15px;
    right: 10px;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
}

.lesson-count p {
    margin: 0;
    font-size: 16px;
    color: #333;
}

.profile-picture {
    position: absolute;
    top: 15px;
    left: 10px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    float:left;
    border: 1px solid #000000;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.student-profile-picture,
.teacher-profile-picture {
    margin-bottom: 10px;
}

.student-profile-picture img,
.teacher-profile-picture img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #000;
}

@media (max-width: 767px) {
    .course-cards {
        justify-content: center;
    }

    .course-card {
        width: 80%;
    }
}

.errorlist{
    list-style-type: none;
    color: red;
    padding: 0;
    margin: 0;
}

ul.messages {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.messages li {
    margin-bottom: 10px;
    padding: 0;
    color: red;
}
