<!DOCTYPE html>
{% load static %}
<html lang="pl">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% block description %}
    <meta name="description" content="Strefa wiedzy platofrmy edukacyjnej SchoolWeb - zadaj pytanie związane z Twoim
    problemem i uzyskaj odpowiedź już teraz!">
    {% endblock description %}

    <title>{% block title %}SchoolWeb | Strefa wiedzy{% endblock title %}</title>

    <link rel="icon" type="image/x-icon" href="{% static 'img/widget-main-view/logo.png' %}">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link href="{% static 'css/knowledge-zone.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{% static 'js/knowledge-zone-dropdown-menu.js' %}" defer></script>

</head>

<body>
    {% block navbar %}
    {% endblock navbar %}

    {% block content %}
    {% endblock content %}
</body>
</html>