<!DOCTYPE html>
{% load static %}
<html lang="pl">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="SchoolWeb to wyjątkowa platforma edukacyjna, która zapewnia nie tylko
		konkurencyjne cenowo lekcje, lecz także szereg innych narzędzi.">
  <meta name="keywords" content="korepetytor, uczniowie, edukacja, korepetycje, korki, nauka, schoolweb, lekcje,
		matematyka, fizyka, polski, angielski, chemia, lekcje dodatkowe, forum, strefa wiedzy, zadaj pytanie, pytania
        odpowiedzi, zadania domowe, lekcje, kursy">
  <title>SchoolWeb | Twórz z nami najlepszą platformę edukacyjną</title>
  <link rel="icon" type="image/x-icon" href="{% static 'img/widget-main-view/logo.png' %}">
  <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link href="{% static "css/knowledge-zone.css" %}" rel="stylesheet">

</head>

<body>
  {% block content %}

  {% endblock %}
  <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
